@media (max-width: 1024px) {
  /* Start Hero section homeSlider */

  .slider-content .content-detail {
    top: 15%;
    left: 5%;
    width: 65%;
  }

  .slider-content .content-detail h2 {
    font-size: 60px;
    line-height: 70px;
  }

  .slider-content {
    position: relative;
  }

  .slider-content .img {
    width: 100%;
    height: 100%;
  }

  /* End Hero section homeSlider */

  /* Start our plan section */

  .parent-container .our-Plans {
    max-width: 980px !important;
  }

  .parent-container .our-Plans h5 {
    font-size: 15px;
  }

  .parent-container .our-Plans .heading {
    font-size: 25px;
  }

  .parent-container .our-Plans .icon-container {
    gap: 20px;
  }

  .parent-container .our-Plans .icon-container a {
    height: 180px;
    width: 18%;
  }

  .parent-container .our-Plans .icon-container a img {
    width: 80px;
  }

  .parent-container .our-Plans .icon-container a h3 {
    font-size: 15px;
    flex-wrap: wrap;
    /* padding: 0 10px; */
    text-align: center;
  }

  /* End our plan section */

  /* Start about parent section */

  .about-parent {
    padding-top: 20px;
    max-width: 980px !important;
  }

  .about-parent .childs .child2 .about-first h1 {
    font-size: 25px;
    padding: 5px 0;
  }

  .about-parent .childs .button a {
    padding: 15px 30px;
    font-size: 15px;
  }

  /* End about parent section */

  /* Start about offering section */

  .offering {
    max-width: 980px !important;
    margin: 30px auto !important;
  }

  .offering .part-one h2 {
    font-size: 25px;
    line-height: 30px;
  }

  .offering .part-two {
    padding: 20px 20px 0px 20px;
  }

  /* End about offering section */

  /* Start ranking section */
  .ranking {
    height: 250px;
  }
  .ranking .rank i {
    font-size: 30px;
  }

  .ranking .rank h3 {
    font-size: 28px;
  }

  /* End ranking section */

  /* Start benefit section */

  .benefits {
    max-width: 980px !important;
    /* background-color: red; */
  }

  .benefits .child1 .btn1 {
    right: 49px;
    background-color: var(--light-color);
    padding: 15px 10px !important;
    width: 60%;
  }

  .benefits .child1 .btn1 i {
    padding: 15px 10px !important;
    top: -15% !important;
    border-top: 5px solid var(--dark-color);
    color: var(--dark-color);
    font-size: 50px;
  }

  .benefits .child1 .btn1 h2 {
    margin-left: 100px !important;
    font-size: 20px;
    /* font-weight: bold; */
    letter-spacing: 0.5px;
  }

  .benefits .child2 .about-first h2 {
    font-size: 25px;
  }

  .benefits .child2 .about-second h1 {
    font-size: 25px;
  }

  .benefits .child2 .button a {
    padding: 15px 30px;
    font-size: 15px;
  }

  /* End benefit section */
}

@media (max-width: 768px) {
  /* Start Hero section homeSlider */

  .slider-content .content-detail {
    position: absolute;
    top: 20%;
    left: 5%;
    /* background-color: red; */
    width: 80%;
    z-index: 1;
  }

  .slider-content .content-detail h2 {
    font-size: 50px;
    color: white;
    line-height: 60px;
    letter-spacing: -1px;
  }

  .parent .navigation {
    display: none;
  }

  .slider-content {
    position: relative;
    height: 80vh;
  }

  .slider-content .img img {
    width: 100%;
    height: 100%;
  }

  /* end Hero section homeSlider */

  /* Start our plan section */

  .parent-container .our-Plans {
    max-width: 700px !important;
    /* background-color: red; */
  }

  .parent-container .our-Plans .icon-container {
    gap: 45px;
  }

  .parent-container .our-Plans .icon-container a {
    height: 180px;
    width: 28%;
  }

  /* End our plan section */

  /* Start about parent section */

  .about-parent .childs {
    flex-direction: column;
    max-width: 700px;
    margin: auto;
  }

  .childs .child1,
  .childs .child2 {
    width: 100%;
  }

  .childs .child1 .image img {
    width: 100%;
    height: 400px;
  }

  .about-parent .childs .child2 {
    margin-top: 10px;
  }

  .about-parent .childs .child2 .about-first h1 {
    font-size: 25px;
    padding: 5px 0;
  }

  .about-parent .childs .button a {
    padding: 15px 30px;
    font-size: 15px;
  }

  /* End about parent section */

  /* Start about offering section */

  .offering {
    max-width: 700px !important;
    margin: 20px auto !important;
    /* background-color: red; */
  }

  .offering .part-one h2 {
    font-size: 22px;
    line-height: 30px;
    width: 70%;
  }

  .offering .part-two {
    padding: 20px 0 0 0;
  }

  /* End about offering section */

  /* Start ranking section */
  .ranking {
    height: 200px;
  }
  .ranking .rank i {
    font-size: 26px;
    padding: 12px;
  }

  .ranking .rank h3 {
    font-size: 22px;
  }

  .ranking .rank p {
    font-size: 14px;
  }

  /* End ranking section */

  /* Start benefit section */

  .benefits {
    max-width: 700px !important;
    flex-direction: column;
    /* background-color: red; */
  }

  .benefits .child1 {
    width: 100%;
  }

  .benefits .child2 {
    width: 100%;
    margin-top: 10px;
  }

  .benefits .child1 .image img {
    width: 100% !important;
    height: 400px;
  }

  .benefits .child1 .btn1 {
    right: 0%;
    padding: 15px 10px !important;
    width: 40%;
  }

  .benefits .child1 .btn1 i {
    padding: 15px 10px !important;
    top: -15% !important;
    font-size: 40px;
  }

  .benefits .child1 .btn1 h2 {
    margin-left: 90px !important;
    font-size: 18px;
  }

  .benefits .child2 .about-first h2 {
    font-size: 25px;
  }

  .benefits .child2 .about-second h1 {
    font-size: 25px;
  }

  .benefits .child2 .button a {
    padding: 15px 30px;
    font-size: 15px;
  }

  /* End benefit section */
}

@media (max-width: 425px) {
  /* Start Hero section homeSlider */

  .slider-content .content-detail {
    top: 20%;
    left: 2%;
    width: 100%;
  }

  .slider-content .content-detail h2 {
    font-size: 40px;
    line-height: 50px;
  }

  .slider-content {
    position: relative;
    height: 60vh;
  }

  .slider-content .img img {
    width: 100%;
    height: 100%;
  }

  .wrapper {
    height: 6vh;
    padding: 0 20px;
  }

  .wrapper h1 {
    font-size: 12px;
  }

  /* end Hero section homeSlider */

  /* Start our plan section */

  .parent-container .our-Plans {
    max-width: 400px !important;
    margin: 20px auto 0 auto !important;
  }

  .parent-container .our-Plans h5 {
    font-size: 14px;
    font-weight: bold;
  }

  .parent-container .our-Plans .icon-container {
    gap: 20px;
    padding: 20px 0 !important;
  }

  .parent-container .our-Plans .icon-container a {
    height: 180px;
    width: 40%;
  }

  .parent-container .our-Plans .icon-container a h3 {
    font-weight: bold;
  }

  .parent-container .our-Plans .heading {
    font-size: 22px;
  }

  /* End our plan section */

  /* Start about parent section */

  .about-parent .childs {
    max-width: 400px;
  }

  .childs .child1,
  .childs .child2 {
    width: 100%;
  }

  .childs .child1 .image img {
    height: 250px;
  }

  .about-parent .childs .child2 {
    margin-top: 10px;
  }

  .about-parent .childs .child2 .about-first h1 {
    font-size: 24px;
    padding: 5px 0;
  }

  .child2 .about-first h4 {
    font-size: 12px;
    font-weight: bold;
  }

  .child2 .about-first h3 {
    font-size: 14px;
    line-height: 20px;
  }

  .child2 .about-second h2 {
    font-size: 18px;
  }

  .child2 .about-second .button {
    padding: 0px;
  }

  .child2 .about-second ul li {
    font-size: 14px;
    line-height: 20px;
  }

  .child2 .about-second ul li span {
    font-weight: bold;
  }

  .about-parent .childs .button a {
    padding: 12px 22px;
    font-size: 15px;
  }

  /* End about parent section */

  /* Start about offering section */

  .offering {
    max-width: 400px !important;
    margin: 0px auto !important;
    /* background-color: red; */
  }

  .offering .part-one h2 {
    font-size: 20px;
    line-height: 25px;
    width: 90%;
  }

  .offering .part-one h4 {
    font-size: 14px;
    font-weight: bold;
  }

  .offering .part-two {
    padding: 20px 0 0 0;
  }

  .offering .part-two .part-card {
    height: 180px;
    width: 180px;
  }

  .offering .part-two .part-card .front h3,
  .offering .part-two .part-card .back h3 {
    font-size: 18px;
    padding: 0;
  }

  .offering .part-two .part-card .front i,
  .offering .part-two .part-card .back i {
    font-size: 30px;
  }

  .offering .part-two .part-card .front p,
  .offering .part-two .part-card .back p {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.3px;
  }

  /* End about offering section */

  /* Start ranking section */
  .ranking {
    height: 160px;
  }

  .ranking .rank i {
    font-size: 22px;
    padding: 10px;
    border: 4px solid #0073bd;
  }

  .ranking .rank i:hover {
    font-size: 22px;
    padding: 10px;
    border: 4px solid #0073bd;
  }

  .ranking .rank h3 {
    font-size: 16px;
  }

  .ranking .rank p {
    font-size: 12px;
  }

  /* End ranking section */

  /* Start benefit section */

  .benefits {
    max-width: 400px !important;
    /* background-color: red; */
  }

  .benefits .child1 {
    width: 100%;
  }

  .benefits .child2 {
    width: 100%;
    margin-top: 10px;
  }

  .benefits .child1 .image img {
    width: 100% !important;
    height: 250px;
  }

  .benefits .child1 .btn1 {
    right: 0%;
    padding: 15px 10px !important;
    width: 70%;
  }

  .benefits .child1 .btn1 i {
    padding: 15px 10px !important;
    top: -15% !important;
    font-size: 40px;
  }

  .benefits .child1 .btn1 h2 {
    margin-left: 90px !important;
    font-size: 18px;
  }

  .benefits .child2 .about-first h2 {
    font-size: 24px;
  }

  .benefits .child2 .about-first h3 {
    font-size: 14px;
    line-height: 20px;
  }

  .benefits .child2 .about-second h1 {
    font-size: 20px;
    padding: 2px 0 !important;
  }

  .benefits .child2 .about-second ul li {
    font-size: 14px;
    line-height: 20px;
  }

  .benefits .child2 .about-second ul li span {
    font-weight: bold;
  }

   .benefits .child2 .button{
     margin-top: 20px;

   }
  .benefits .child2 .button a {
    padding: 15px 30px;
    font-size: 15px;
  }

  /* End benefit section */
}

@media (max-width: 375px) {
  /* Start Hero section homeSlider */

  .slider-content .content-detail {
    top: 20%;
    left: 2%;
    width: 100%;
  }

  .slider-content .content-detail h2 {
    font-size: 28px;
    line-height: 40px;
  }

  .slider-content {
    position: relative;
    height: 30vh;
  }

  .wrapper {
    height: 5vh;
  }

  .wrapper h1 {
    font-size: 8px;
    letter-spacing: 0.2px;
  }

  /* End Hero section homeSlider */

  /* Start our plan section */

  .parent-container .our-Plans {
    max-width: 400px !important;
    margin: 20px auto 0 auto !important;
  }

  .parent-container .our-Plans h5 {
    font-size: 12px;
    font-weight: bold;
  }

  .parent-container .our-Plans .heading {
    font-size: 20px;
  }

  .parent-container .our-Plans .icon-container {
    gap: 20px;
    padding: 20px 0 !important;
  }

  .parent-container .our-Plans .icon-container a {
    height: 180px;
    width: 45%;
  }

  .parent-container .our-Plans .icon-container a h3 {
    font-weight: bold;
  }

  /* End our plan section */

  /* Start about parent section */

  .about-parent .childs {
    max-width: 340px;
    margin: auto;
    /* background-color: red; */
  }

  .childs .child1 .image img {
    height: 250px;
  }

  .about-parent .childs .child2 .about-first h1 {
    font-size: 20px;
  }

  .child2 .about-first h4 {
    font-size: 12px;
    font-weight: bold;
  }

  .child2 .about-first h3 {
    font-size: 14px;
    line-height: 18px;
  }

  .child2 .about-second h2 {
    font-size: 18px;
  }

  .child2 .about-second .button {
    padding: 0px;
  }

  .child2 .about-second ul li {
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
  }

  .child2 .about-second ul li span {
    font-weight: bold;
  }

  .about-parent .childs .button a {
    padding: 12px 22px;
    font-size: 15px;
  }

  /* End about parent section */

  /* Start about offering section */

  .offering {
    max-width: 340px !important;
    margin: 0px auto !important;
  }

  .offering .part-one h2 {
    font-size: 18px;
    line-height: 22px;
    width: 90%;
  }

  .offering .part-one h4 {
    font-size: 12px;
    font-weight: bold;
  }

  .offering .part-two .part-card {
    height: 200px;
    width: 160px;
  }

  .offering .part-two .part-card .front h3,
  .offering .part-two .part-card .back h3 {
    font-size: 16px;
  }

  /* End about offering section */

  /* Start ranking section */
  .ranking {
    height: 140px;
  }

  .ranking .rank i {
    font-size: 20px;
    padding: 10px;
    border: 4px solid #0073bd;
  }

  .ranking .rank i:hover {
    font-size: 22px;
    padding: 10px;
    border: 4px solid #0073bd;
  }

  .ranking .rank h3 {
    font-size: 14px;
  }

  .ranking .rank p {
    font-size: 10px;
  }

  /* End ranking section */

  /* Start benefit section */

  .benefits {
    max-width: 340px !important;
    /* background-color: red; */
  }

  .benefits .child1 {
    width: 100%;
  }

  .benefits .child2 {
    width: 100%;
    margin-top: 10px;
  }

  .benefits .child1 .image img {
    width: 100% !important;
    height: 250px;
  }

  .benefits .child1 .btn1 {
    right: 0%;
    padding: 15px 10px !important;
    width: 75%;
  }

  .benefits .child1 .btn1 i {
    padding: 15px 10px !important;
    top: -15% !important;
    font-size: 40px;
  }

  .benefits .child1 .btn1 h2 {
    margin-left: 80px !important;
    font-size: 16px;
  }

  .benefits .child2 .about-first h2 {
    font-size: 22px;
  }

  .benefits .child2 .about-first h4 {
    font-size: 12px;
  }

  .benefits .child2 .about-second h1 {
    font-size: 18px;
    padding: 2px 0 !important;
  }

  /* End benefit section */
}

@media (max-width: 320px) {
  /* Start Hero section homeSlider */

  .slider-content .content-detail {
    top: 20%;
    left: 2%;
    width: 100%;
  }

  .slider-content .content-detail h2 {
    font-size: 25px;
    line-height: 40px;
  }

  .slider-content {
    position: relative;
    height: 30vh;
  }

  .wrapper {
    height: 5vh;
  }

  .wrapper h1 {
    font-size: 8px;
    letter-spacing: 0.2px;
  }

  /* End Hero section homeSlider */

  /* Start our plan section */

  .parent-container .our-Plans {
    max-width: 300px !important;
    margin: 20px auto 0 auto !important;
  }

  .parent-container .our-Plans h5 {
    font-size: 12px;
    font-weight: bold;
  }

  .parent-container .our-Plans .heading {
    font-size: 18px;
  }

  .parent-container .our-Plans .icon-container a img {
    width: 70px;
  }

  .parent-container .our-Plans .icon-container a h3 {
    font-size: 12px;
    font-weight: bold;
  }

  /* End our plan section */

  /* Start about parent section */

  .about-parent .childs {
    max-width: 300px;
    margin: auto;
  }

  .childs .child1 .image img {
    height: 250px;
  }

  .about-parent .childs .child2 .about-first h1 {
    font-size: 20px;
  }

  .child2 .about-first h4 {
    font-size: 12px;
    font-weight: bold;
  }

  .child2 .about-first h3 {
    font-size: 14px;
    line-height: 18px;
  }

  .child2 .about-second h2 {
    font-size: 18px;
  }

  .child2 .about-second .button {
    padding: 0px;
  }

  .child2 .about-second ul li {
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
  }

  .child2 .about-second ul li span {
    font-weight: bold;
  }

  .about-parent .childs .button a {
    padding: 12px 22px;
    font-size: 15px;
  }

  /* End about parent section */

  /* Start about offering section */

  .offering {
    max-width: 300px !important;
    margin: 0px auto !important;
    /* background-color: red; */
  }

  .offering .part-one h2 {
    font-size: 18px;
    line-height: 22px;
    width: 90%;
  }

  .offering .part-one h4 {
    font-size: 12px;
    font-weight: bold;
  }

  .offering .part-two {
    padding: 20px 0 0 0;
  }

  .offering .part-two .part-card {
    height: 240px;
    width: 140px;
  }

  .offering .part-two .part-card .front h3,
  .offering .part-two .part-card .back h3 {
    font-size: 16px;
    padding: 0;
  }

  .offering .part-two .part-card .front i,
  .offering .part-two .part-card .back i {
    font-size: 30px;
  }

  .offering .part-two .part-card .front p,
  .offering .part-two .part-card .back p {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.3px;
  }

  /* End about offering section */

  /* Start ranking section */
  .ranking {
    height: 120px;
  }

  .ranking .rank i {
    font-size: 18px;
    padding: 8px;
    border: 4px solid #0073bd;
  }

  .ranking .rank i:hover {
    font-size: 18px;
    padding: 10px;
    border: 4px solid #0073bd;
  }

  .ranking .rank h3 {
    font-size: 12px;
  }

  .ranking .rank p {
    font-size: 8px;
  }

  /* End ranking section */

  
  /* Start benefit section */

  .benefits {
    max-width: 300px !important;
    /* background-color: red; */
  }

  .benefits .child1 .btn1 {
    right: 0%;
    padding: 15px 10px !important;
    width: 85%;
  }


  .benefits .child1 .btn1 h2 {
    margin-left: 80px !important;
    font-size: 15px;
  }

  .benefits .child2 .about-first h2 {
    font-size: 20px;
  }

  .benefits .child2 .about-first h4 {
    font-size: 12px;
  }

  .benefits .child2 .about-second h1 {
    font-size: 16px;
    padding-top: 10px !important;
  }

  /* End benefit section */
}
