@media (max-width: 1515px) {
  /* Start contact section */

  .contact_detail .part2 .circle {
    height: 160px;
    width: 160px;
    background-color: var(--dark-color);
    border-radius: 50%;
    position: absolute;
    top: 40%;
    right: 15%;
    animation: rotate 15s linear infinite;
    z-index: 1;
  }

  .contact_detail .part2 .circle span {
    position: absolute;
    left: 10%;
    top: 50%;
    transform-origin: 50% 0%;
    font-size: 14px;
    color: white;
    padding: 55px 60px;
  }

  .contact_detail .part2 i {
    position: absolute;
    top: 47% !important;
    right: 20% !important;
    color: white;
    font-size: 40px;
    z-index: 1;
  }

  /* End contact section */
}
@media (max-width: 1440px) {
  /* Start contact section */

  .contact .svg .contact_detail {
    width: 75% !important;
  }

  .contact_detail .part1 {
    width: 62% !important;
  }
  .contact .svg svg {
    right: 5% !important;
  }
  /* End contact section */
}

@media (max-width: 1024px) {
  /* Start Hero section homeSlider */

  .slider-content .content-detail {
    top: 15%;
    left: 5%;
    width: 65%;
  }

  .slider-content .content-detail h2 {
    font-size: 60px;
    line-height: 70px;
  }

  .slider-content {
    position: relative;
  }

  .slider-content .img {
    width: 100%;
    height: 100%;
  }

  /* End Hero section homeSlider */

  /* Start our plan section */

  .parent-container .our-Plans {
    max-width: 980px !important;
  }

  .parent-container .our-Plans h5 {
    font-size: 15px;
  }

  .parent-container .our-Plans .heading {
    font-size: 25px;
  }

  .parent-container .our-Plans .icon-container {
    gap: 20px;
  }

  .parent-container .our-Plans .icon-container a {
    height: 180px;
    width: 18%;
  }

  .parent-container .our-Plans .icon-container a img {
    width: 80px;
  }

  .parent-container .our-Plans .icon-container a h3 {
    font-size: 15px;
    flex-wrap: wrap;
    /* padding: 0 10px; */
    text-align: center;
  }

  /* End our plan section */

  /* Start about parent section */

  .about-parent {
    padding-top: 20px;
    max-width: 980px !important;
  }

  .about-parent .childs .child2 .about-first h1 {
    font-size: 25px;
    padding: 5px 0;
  }

  .about-parent .childs .button a {
    padding: 15px 30px;
    font-size: 15px;
  }

  /* End about parent section */

  /* Start about offering section */

  .offering {
    max-width: 980px !important;
    margin: 30px auto !important;
  }

  .offering .part-one h2 {
    font-size: 25px;
    line-height: 30px;
  }

  .offering .part-two {
    padding: 20px 20px 0px 20px;
  }

  /* End about offering section */

  /* Start ranking section */
  .ranking {
    height: 250px;
    margin: 30px 0 !important;
  }
  .ranking .rank i {
    font-size: 30px;
  }

  .ranking .rank h3 {
    font-size: 28px;
  }

  /* End ranking section */

  /* Start benefit section */

  .benefits {
    max-width: 980px !important;
    /* background-color: red; */
  }

  .benefits .child1 .btn1 {
    right: 49px;
    background-color: var(--light-color);
    padding: 15px 10px !important;
    width: 60%;
  }

  .benefits .child1 .btn1 i {
    padding: 15px 10px !important;
    top: -15% !important;
    border-top: 5px solid var(--dark-color);
    color: var(--dark-color);
    font-size: 50px;
  }

  .benefits .child1 .btn1 h2 {
    margin-left: 100px !important;
    font-size: 20px;
    letter-spacing: 0.5px;
  }

  .benefits .child2 .about-first h2 {
    font-size: 25px;
  }

  .benefits .child2 .about-second h1 {
    font-size: 25px;
  }

  .benefits .child2 .button a {
    padding: 15px 30px;
    font-size: 15px;
  }

  /* End benefit section */

  /* Start brand slider */

  .brand-slider {
    max-width: 980px !important;
    margin: 50px auto !important;
  }

  /* End brand slider */

  /* Start Members section */

  .member {
    max-width: 980px !important;
  }

  .member .part1 h1 {
    font-size: 25px;
  }
  .member .part1 {
    margin-top: 0 !important;
  }

  .member .part2 {
    margin-top: 10px;
  }

  .member .part2 .info h1 {
    font-size: 25px;
  }

  /* End Members section */

  /* Start Testimonals */

  .testimonals {
    max-width: 980px !important;
  }

  .testimonals .part1 h1 {
    font-size: 30px;
  }

  .testimonals .part2 {
    height: 55% !important;
  }
  /* End Testimonals */

  /* Start contact section */

  .contact_detail .part1 {
    padding: 30px 0 0 25px !important;
  }

  .contact_detail .part1 .info h2 {
    font-size: 30px;
    line-height: 30px;
    padding: 5px 0 !important;
  }

  .contact_detail .part1 .form {
    margin-top: 30px !important;
  }

  .contact_detail .part2 .circle {
    height: 135px !important;
    width: 135px !important;
  }

  .contact_detail .part2 .circle span {
    font-size: 13px !important;
    padding: 45px 50px !important;
  }

  .contact_detail .part2 i {
    top: 47% !important;
  }

  /* End contact section */

  /* Start blog section */

  .blog-section {
    width: 980px;
  }

  .blog-second .blogger .img {
    height: 60%;
  }

  .blogs .blogger .blog-detail {
    width: 85% !important;
    height: 40% !important;
    bottom: 15% !important;
  }

  .blogger .blog-detail .date span {
    width: 100px;
    left: -80% !important;
  }

  .blogger .blog-detail .info {
    width: 100%;
    padding: 0px 10px;
  }

  .blog-detail .info .info-one .info-icon {
    display: flex;
    flex-direction: column;
  }

  .blog-detail .info .info-one .info-icon i {
    padding: 2px 4px !important;
    font-size: 12px;
  }

  .blog-detail .info .info-one .info-icon p {
    padding-left: 0px;
    font-size: 12px;
  }

  .blog-detail .info .info-two {
    padding: 0 0px 0 20px !important;
  }

  .blog-detail .info .info-two h2 {
    font-size: 18px !important;
    padding-top: 2px;
    letter-spacing: 1px;
    line-height: 22px !important;
  }

  .blog-detail .info .info-three {
    padding: 10px 5px 0px 20px !important;
  }

  /* End blog section */
}

@media (max-width: 768px) {
  /* Start Hero section homeSlider */

  .slider-content .content-detail {
    position: absolute;
    top: 20%;
    left: 5%;
    width: 80%;
    z-index: 1;
  }

  .slider-content .content-detail h2 {
    font-size: 50px;
    color: white;
    line-height: 60px;
    letter-spacing: -1px;
  }

  .parent .navigation {
    display: none;
  }

  .slider-content {
    position: relative;
    height: 80vh;
  }

  .slider-content .img img {
    width: 100%;
    height: 100%;
  }

  /* end Hero section homeSlider */

  /* Start our plan section */

  .parent-container .our-Plans {
    max-width: 700px !important;
  }

  .parent-container .our-Plans .icon-container {
    gap: 45px;
  }

  .parent-container .our-Plans .icon-container a {
    height: 180px;
    width: 28%;
  }

  /* End our plan section */

  /* Start about parent section */

  .about-parent .childs {
    flex-direction: column;
    max-width: 700px;
    margin: auto;
  }

  .childs .child1,
  .childs .child2 {
    width: 100%;
  }

  .childs .child1 .image img {
    width: 100%;
    height: 400px;
  }

  .about-parent .childs .child2 {
    margin-top: 10px;
  }

  .about-parent .childs .child2 .about-first h1 {
    font-size: 25px;
    padding: 5px 0;
  }

  .about-parent .childs .button a {
    padding: 15px 30px;
    font-size: 15px;
  }

  /* End about parent section */

  /* Start about offering section */

  .offering {
    max-width: 700px !important;
    margin: 20px auto !important;
  }

  .offering .part-one h2 {
    font-size: 22px;
    line-height: 30px;
    width: 70%;
  }

  .offering .part-two {
    padding: 20px 0 0 0;
  }

  /* End about offering section */

  /* Start ranking section */
  .ranking {
    height: 200px;
    margin: 30px 0 !important;
  }
  .ranking .rank i {
    font-size: 26px;
    padding: 12px;
  }

  .ranking .rank h3 {
    font-size: 22px;
  }

  .ranking .rank p {
    font-size: 14px;
  }

  /* End ranking section */

  /* Start benefit section */

  .benefits {
    max-width: 700px !important;
    flex-direction: column;
  }

  .benefits .child1 {
    width: 100%;
  }

  .benefits .child2 {
    width: 100%;
    margin-top: 10px;
  }

  .benefits .child1 .image img {
    width: 100% !important;
    height: 400px;
  }

  .benefits .child1 .btn1 {
    right: 0%;
    padding: 15px 10px !important;
    width: 40%;
  }

  .benefits .child1 .btn1 i {
    padding: 15px 10px !important;
    top: -15% !important;
    font-size: 40px;
  }

  .benefits .child1 .btn1 h2 {
    margin-left: 90px !important;
    font-size: 18px;
  }

  .benefits .child2 .about-first h2 {
    font-size: 25px;
  }

  .benefits .child2 .about-second h1 {
    font-size: 25px;
  }

  .benefits .child2 .button a {
    padding: 15px 30px;
    font-size: 15px;
  }

  /* End benefit section */

  /* Start brand slider */

  .brand-slider {
    max-width: 700px !important;
    margin: 50px auto !important;
  }

  /* End brand slider */

  /* Start Members section */

  .member {
    max-width: 730px !important;
    /* background-color: red; */
  }

  .member .part1 h1 {
    font-size: 24px;
  }
  .member .part1 {
    margin-top: 0 !important;
  }

  .member .part2 {
    margin-top: 10px;
    flex-direction: column;
  }

  .member .part2 .info {
    width: 100%;
  }

  .member .part2 .info h1 {
    font-size: 22px;
  }

  .member .part2 .info h3 {
    font-size: 20px;
    padding: 0 !important;
  }

  .member .part2 .detail {
    width: 40% !important;
    margin: 0px !important;
  }

  .member .part2 .detail .second {
    width: 90% !important;
    height: 100%;
  }

  .member .part2 .detail .second .slide .detail {
    width: 100% !important;
    height: 100%;
  }

  /* End Members section */

  /* Start Testimonals */

  .testimonals {
    max-width: 700px !important;
    flex-direction: column;
    height: 500px !important;
  }
  .testimonals .part1 {
    width: 100%;
  }
  .testimonals .part1 h1 {
    font-size: 25px;
  }

  .testimonals .part2 {
    height: 65% !important;
    width: 100% !important;
  }

  /* End Testimonals */

  /* Start contact section */

  .contact {
    height: 84.4vh !important;
  }

  .contact .svg .contact_detail {
    margin: 30px 0;
    width: 100% !important;
    height: 84.4vh !important;
  }
  .contact_detail .part1 {
    padding: 30px 0 0 25px !important;
    width: 100% !important;
  }

  .contact_detail .part1 .info h2 {
    font-size: 30px;
    line-height: 30px;
    padding: 5px 0 !important;
  }

  .contact_detail .part1 .form {
    margin-top: 30px !important;
  }

  .form .share .input {
    padding: 15px !important;
  }

  .form .share .submit {
    padding: 10px 15px !important;
    width: 45% !important;
  }

  .contact_detail .part2 .circle,
  .contact_detail .part2 i {
    display: none;
  }
  .contact_detail .part1 .form .icons {
    gap: 10px;
  }

  .contact .svg #svg-clip {
    display: none;
  }

  /* End contact section */

  /* Start blog section */

  .blog-section {
    width: 700px;
  }

  .blog-second .blogger .img {
    height: 60%;
  }

  .blogs .blogger .blog-detail {
    width: 85% !important;
    height: 40% !important;
    bottom: 15% !important;
  }

  .blogger .blog-detail .date span {
    width: 100px;
    left: -80% !important;
  }

  .blogger .blog-detail .info {
    width: 100%;
    padding: 0px 10px;
  }

  .blog-detail .info .info-one .info-icon {
    display: flex;
    flex-direction: column;
  }

  .blog-detail .info .info-one .info-icon i {
    padding: 2px 4px !important;
    font-size: 12px;
  }

  .blog-detail .info .info-one .info-icon p {
    padding-left: 0px;
    font-size: 12px;
  }

  .blog-detail .info .info-two {
    padding: 0 0px 0 20px !important;
  }

  .blog-detail .info .info-two h2 {
    font-size: 18px !important;
    padding-top: 2px;
    letter-spacing: 1px;
    line-height: 22px !important;
  }

  .blog-detail .info .info-three {
    padding: 10px 5px 0px 20px !important;
  }

  /* End blog section */
}

@media (max-width: 425px) {
  /* Start Hero section homeSlider */

  .slider-content .content-detail {
    top: 20%;
    left: 2%;
    width: 100%;
  }

  .slider-content .content-detail h2 {
    font-size: 40px;
    line-height: 50px;
  }

  .slider-content {
    position: relative;
    height: 60vh;
  }

  .slider-content .img img {
    width: 100%;
    height: 100%;
  }

  .wrapper {
    height: 6vh;
    padding: 0 20px;
  }

  .wrapper h1 {
    font-size: 12px;
  }

  /* end Hero section homeSlider */

  /* Start our plan section */

  .parent-container .our-Plans {
    max-width: 400px !important;
    margin: 20px auto 0 auto !important;
  }

  .parent-container .our-Plans h5 {
    font-size: 14px;
    font-weight: bold;
  }

  .parent-container .our-Plans .icon-container {
    gap: 20px;
    padding: 20px 0 !important;
  }

  .parent-container .our-Plans .icon-container a {
    height: 180px;
    width: 40%;
  }

  .parent-container .our-Plans .icon-container a h3 {
    font-weight: bold;
  }

  .parent-container .our-Plans .heading {
    font-size: 22px;
  }

  /* End our plan section */

  /* Start about parent section */

  .about-parent .childs {
    max-width: 400px;
  }

  .childs .child1,
  .childs .child2 {
    width: 100%;
  }

  .childs .child1 .image img {
    height: 250px;
  }

  .about-parent .childs .child2 {
    margin-top: 10px;
  }

  .about-parent .childs .child2 .about-first h1 {
    font-size: 24px;
    padding: 5px 0;
  }

  .child2 .about-first h4 {
    font-size: 12px;
    font-weight: bold;
  }

  .child2 .about-first h3 {
    font-size: 14px;
    line-height: 20px;
  }

  .child2 .about-second h2 {
    font-size: 18px;
  }

  .child2 .about-second .button {
    padding: 0px;
  }

  .child2 .about-second ul li {
    font-size: 14px;
    line-height: 20px;
  }

  .child2 .about-second ul li span {
    font-weight: bold;
  }

  .about-parent .childs .button a {
    padding: 12px 22px;
    font-size: 15px;
  }

  /* End about parent section */

  /* Start about offering section */

  .offering {
    max-width: 400px !important;
    margin: 0px auto !important;
  }

  .offering .part-one h2 {
    font-size: 20px;
    line-height: 25px;
    width: 90%;
  }

  .offering .part-one h4 {
    font-size: 14px;
    font-weight: bold;
  }

  .offering .part-two {
    padding: 20px 0 0 0;
  }

  .offering .part-two .part-card {
    height: 180px;
    width: 180px;
  }

  .offering .part-two .part-card .front h3,
  .offering .part-two .part-card .back h3 {
    font-size: 18px;
    padding: 0;
  }

  .offering .part-two .part-card .front i,
  .offering .part-two .part-card .back i {
    font-size: 30px;
  }

  .offering .part-two .part-card .front p,
  .offering .part-two .part-card .back p {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.3px;
  }

  /* End about offering section */

  /* Start ranking section */
  .ranking {
    height: 160px;
    margin: 30px 0 !important;
  }

  .ranking .rank i {
    font-size: 22px;
    padding: 10px;
    border: 4px solid #0073bd;
  }

  .ranking .rank i:hover {
    font-size: 22px;
    padding: 10px;
    border: 4px solid #0073bd;
  }

  .ranking .rank h3 {
    font-size: 16px;
  }

  .ranking .rank p {
    font-size: 12px;
  }

  /* End ranking section */

  /* Start benefit section */

  .benefits {
    max-width: 400px !important;
  }

  .benefits .child1 {
    width: 100%;
  }

  .benefits .child2 {
    width: 100%;
    margin-top: 10px;
  }

  .benefits .child1 .image img {
    width: 100% !important;
    height: 250px;
  }

  .benefits .child1 .btn1 {
    right: 0%;
    padding: 15px 10px !important;
    width: 70%;
  }

  .benefits .child1 .btn1 i {
    padding: 15px 10px !important;
    top: -15% !important;
    font-size: 40px;
  }

  .benefits .child1 .btn1 h2 {
    margin-left: 90px !important;
    font-size: 18px;
  }

  .benefits .child2 .about-first h2 {
    font-size: 24px;
  }

  .benefits .child2 .about-first h3 {
    font-size: 14px;
    line-height: 20px;
  }

  .benefits .child2 .about-second h1 {
    font-size: 20px;
    padding: 2px 0 !important;
  }

  .benefits .child2 .about-second ul li {
    font-size: 14px;
    line-height: 20px;
  }

  .benefits .child2 .about-second ul li span {
    font-weight: bold;
  }

  .benefits .child2 .button {
    margin-top: 20px;
  }
  .benefits .child2 .button a {
    padding: 15px 30px;
    font-size: 15px;
  }

  /* End benefit section */

  /* Start brand slider */

  .brand-slider {
    max-width: 400px !important;
    margin: 50px auto !important;
  }

  /* End brand slider */

  /* Start Members section */

  .member {
    max-width: 400px !important;
  }

  .member .part1 h1 {
    font-size: 22px;
  }

  .member .part1 h4 {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
  }

  .member .part2 .info h1 {
    font-size: 18px;
  }

  .member .part2 .info h3 {
    font-size: 18px;
    padding: 0 !important;
  }

  .member .part2 .info p {
    font-size: 14px;
    line-height: 20px;
  }

  .member .part2 .info ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  .member .part2 .info ul li {
    font-size: 14px;
    line-height: 20px;
  }

  .member .part2 .detail {
    width: 70% !important;
  }

  /* End Members section */

  /* Start Testimonals */

  .testimonals {
    max-width: 400px !important;
    flex-direction: column;
    height: 400px !important;
    margin: 40px auto !important;
  }

  .testimonals .part1 h1 {
    font-size: 20px;
  }

  .testimonal-content .para p {
    width: 85% !important;
    font-size: 14px !important;
    line-height: 1.3 !important;
  }

  .testimonal-content .detail {
    margin-top: 10px;
  }

  .testimonal-content .detail .img img {
    height: 40px !important;
    width: 40px !important;
  }

  .testimonal-content .detail .info h2 {
    font-size: 18px !important;
  }

  .testimonal-content .detail .info p {
    color: #002249a6;
    font-size: 14px;
  }
  /* End Testimonals */

  /* Start contact section */

  .contact .contact_detail {
    width: 100% !important;
  }

  .contact_detail .part1 {
    padding: 30px 10px !important;
  }

  .contact_detail .part1 .info h4 {
    font-size: 12px;
    letter-spacing: 0.5px;
    font-weight: bold;
  }

  .form .icons .icon i {
    padding: 6px 8px !important;
    font-size: 12px !important;
  }

  .form .icons .icon h3 {
    font-size: 14px !important;
    padding-left: 10px !important;
    letter-spacing: 0.8px !important;
  }

  .contact_detail .part1 .info h2 {
    font-size: 25px;
    line-height: 30px;
    padding: 5px 0 !important;
  }

  .contact_detail .part1 .form {
    margin-top: 30px !important;
  }

  .form .share .input {
    padding: 15px !important;
    font-size: 14px;
  }

  .form .share .submit {
    padding: 10px 15px !important;
    width: 75% !important;
  }

  .form .share {
    width: 100% !important;
    padding-left: 40px !important;
  }

  /* End contact section */

  /* Start blog section */

  .blog-section {
    width: 400px;
  }

  .blog-second .blogger .img {
    height: 60%;
  }

  .blog-section .blog-first h2 {
    font-size: 22px;
    font-weight: bold;
  }

  .blogs .blogger .blog-detail {
    width: 85% !important;
    height: 40% !important;
    bottom: 15% !important;
  }

  .blogger .blog-detail .date span {
    width: 100px;
    left: -50% !important;
  }

  .blogger .blog-detail .info {
    width: 100%;
    padding: 0px 10px;
  }

  .blog-detail .info .info-one .info-icon {
    display: flex;
    flex-direction: row;
  }

  .blog-detail .info .info-one .info-icon i {
    padding: 2px 4px !important;
    font-size: 12px;
  }

  .blog-detail .info .info-one .info-icon p {
    padding-left: 0px;
    font-size: 12px;
  }

  .blog-detail .info .info-two {
    padding: 0 0px 0 5px !important;
  }

  .blog-detail .info .info-two h2 {
    font-size: 22px !important;
    padding-top: 2px;
    letter-spacing: 1px;
    line-height: 28px !important;
  }

  .blog-detail .info .info-three {
    padding: 10px 15px 0px 5px !important;
  }

  /* End blog section */
}

@media (max-width: 400px) {
  /* Start Hero section homeSlider */

  .slider-content .content-detail {
    top: 20%;
    left: 2%;
    width: 100%;
  }

  .slider-content .content-detail h2 {
    font-size: 30px;
    line-height: 40px;
  }

  .slider-content {
    position: relative;
    height: 30vh;
  }

  .slider-content .img img {
    width: 100%;
    height: 100%;
  }

  .wrapper {
    height: 6vh;
    padding: 0 10px;
  }

  .wrapper h1 {
    font-size: 11px;
  }

  /* end Hero section homeSlider */

  /* Start our plan section */

  .parent-container .our-Plans {
    max-width: 350px !important;
    margin: 20px auto 0 auto !important;
  }

  .parent-container .our-Plans h5 {
    font-size: 14px;
    font-weight: bold;
  }

  .parent-container .our-Plans .icon-container {
    gap: 20px;
    padding: 20px 0 !important;
  }

  .parent-container .our-Plans .icon-container a {
    height: 180px;
    width: 40%;
  }

  .parent-container .our-Plans .icon-container a h3 {
    font-weight: bold;
  }

  .parent-container .our-Plans .heading {
    font-size: 22px;
  }

  /* End our plan section */

  /* Start about parent section */

  .about-parent .childs {
    /* max-width: 380px; */
    padding: 0px 10px !important;
    /* background-color: red; */
  }

  .childs .child1,
  .childs .child2 {
    width: 100%;
  }

  .childs .child1 .image img {
    height: 220px;
  }

  .about-parent .childs .child2 {
    margin-top: 10px;
  }

  .about-parent .childs .child2 .about-first h1 {
    font-size: 22px;
    padding: 5px 0;
  }

  .child2 .about-first h4 {
    font-size: 12px;
    font-weight: bold;
  }

  .child2 .about-first h3 {
    font-size: 14px;
    line-height: 20px;
  }

  .child2 .about-second h2 {
    font-size: 18px;
  }

  .child2 .about-second .button {
    padding: 0px;
  }

  .child2 .about-second ul li {
    font-size: 14px;
    line-height: 20px;
  }

  .child2 .about-second ul li span {
    font-weight: bold;
  }

  .about-parent .childs .button a {
    padding: 12px 22px;
    font-size: 15px;
  }

  /* End about parent section */

  /* Start about offering section */

  .offering {
    max-width: 380px !important;
    margin: 0px auto !important;
    padding: 0 10px !important;
  }

  .offering .part-one h2 {
    font-size: 20px;
    line-height: 25px;
    width: 90%;
  }

  .offering .part-one h4 {
    font-size: 14px;
    font-weight: bold;
  }

  .offering .part-two {
    padding: 20px 0 0 0;
  }

  .offering .part-two .part-card {
    height: 200px;
    width: 160px;
  }

  .offering .part-two .part-card .front h3,
  .offering .part-two .part-card .back h3 {
    font-size: 18px;
    padding: 0;
  }

  .offering .part-two .part-card .front i,
  .offering .part-two .part-card .back i {
    font-size: 30px;
  }

  .offering .part-two .part-card .front p,
  .offering .part-two .part-card .back p {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.3px;
  }

  /* End about offering section */

  /* Start ranking section */
  .ranking {
    height: 160px;
    margin: 30px 0 !important;
  }

  .ranking .rank i {
    font-size: 22px;
    padding: 10px;
    border: 4px solid #0073bd;
  }

  .ranking .rank i:hover {
    font-size: 22px;
    padding: 10px;
    border: 4px solid #0073bd;
  }

  .ranking .rank h3 {
    font-size: 16px;
  }

  .ranking .rank p {
    font-size: 12px;
  }

  /* End ranking section */

  /* Start benefit section */

  .benefits {
    /* max-width: 380px !important; */
    padding: 0 10px !important;
  }

  .benefits .child1 {
    width: 100%;
  }

  .benefits .child2 {
    width: 100%;
    margin-top: 10px;
  }

  .benefits .child1 .image img {
    width: 100% !important;
    height: 250px;
  }

  .benefits .child1 .btn1 {
    right: 0%;
    padding: 15px 10px !important;
    width: 70%;
  }

  .benefits .child1 .btn1 i {
    padding: 15px 10px !important;
    top: -15% !important;
    font-size: 40px;
  }

  .benefits .child1 .btn1 h2 {
    margin-left: 80px !important;
    font-size: 18px;
  }

  .benefits .child2 .about-first h2 {
    font-size: 22px;
  }

  .benefits .child2 .about-first h3 {
    font-size: 14px;
    line-height: 20px;
  }

  .benefits .child2 .about-second h1 {
    font-size: 20px;
    padding: 5px 0 !important;
  }

  .benefits .child2 .about-second ul li {
    font-size: 14px;
    line-height: 20px;
  }

  .benefits .child2 .about-second ul li span {
    font-weight: bold;
  }

  .benefits .child2 .button {
    margin-top: 20px;
  }
  .benefits .child2 .button a {
    padding: 15px 30px;
    font-size: 15px;
  }

  /* End benefit section */

  /* Start brand slider */

  .brand-slider {
    /* max-width: 380px !important; */
    padding: 0 10px !important;
    margin: 50px auto !important;
  }

  /* End brand slider */

  /* Start Members section */

  .member {
    /* max-width: 380px !important; */
    padding: 0 10px !important;
  }

  .member .part1 h1 {
    font-size: 22px;
  }

  .member .part1 h4 {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
  }

  .member .part2 .info h1 {
    font-size: 18px;
  }

  .member .part2 .info h3 {
    font-size: 18px;
    padding: 0 !important;
  }

  .member .part2 .info p {
    font-size: 14px;
    line-height: 20px;
  }

  .member .part2 .info ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  .member .part2 .info ul li {
    font-size: 14px;
    line-height: 20px;
  }

  .member .part2 .detail {
    width: 80% !important;
  }

  /* End Members section */

  /* Start Testimonals */

  .testimonals {
    /* max-width: 380px !important; */
    padding: 0 10px !important;
    flex-direction: column;
    height: 400px !important;
    margin: 40px auto !important;
  }

  .testimonals .part1 h1 {
    font-size: 20px;
  }

  .testimonal-content .para p {
    width: 85% !important;
    font-size: 14px !important;
    line-height: 1.3 !important;
  }

  .testimonal-content .detail {
    margin-top: 10px;
  }

  .testimonal-content .detail .img img {
    height: 40px !important;
    width: 40px !important;
  }

  .testimonal-content .detail .info h2 {
    font-size: 18px !important;
  }

  .testimonal-content .detail .info p {
    color: #002249a6;
    font-size: 14px;
  }
  /* End Testimonals */

  /* Start contact section */

  .contact .contact_detail {
    width: 100% !important;
  }

  .contact_detail .part1 {
    padding: 30px 10px !important;
  }

  .contact_detail .part1 .info h4 {
    font-size: 12px;
    letter-spacing: 0.5px;
    font-weight: bold;
  }

  .form .icons .icon i {
    padding: 6px 8px !important;
    font-size: 12px !important;
  }

  .form .icons .icon h3 {
    font-size: 14px !important;
    padding-left: 10px !important;
    letter-spacing: 0.8px !important;
  }

  .contact_detail .part1 .info h2 {
    font-size: 25px;
    line-height: 30px;
    padding: 5px 0 !important;
  }

  .contact_detail .part1 .form {
    margin-top: 30px !important;
  }

  .form .share .input {
    padding: 15px !important;
    font-size: 14px;
  }

  .form .share .submit {
    padding: 10px 15px !important;
    width: 55% !important;
  }

  .form .share {
    width: 100% !important;
    padding-left: 20px !important;
  }

  .contact_detail .part2 .circle,
  .contact_detail .part2 i {
    display: none;
  }
  .contact_detail .part1 .form .icons {
    gap: 10px;
  }

  .contact .svg #svg-clip {
    display: none;
  }

  /* End contact section */

  /* Start blog section */

  .blog-section {
    width: 360px;
  }

  .blog-second {
    padding-left: 25px;
  }
  .blog-second .blogger .img {
    height: 60%;
  }

  .blog-section .blog-first h2 {
    font-size: 22px;
    font-weight: bold;
  }

  .blogs .blogger .blog-detail {
    width: 85% !important;
    height: 40% !important;
    bottom: 15% !important;
  }

  .blogger .blog-detail .date span {
    width: 100px;
    left: -50% !important;
  }

  .blogger .blog-detail .info {
    width: 100%;
    padding: 0px 10px;
  }

  .blog-detail .info .info-one .info-icon {
    display: flex;
    flex-direction: row;
  }

  .blog-detail .info .info-one .info-icon i {
    padding: 2px 4px !important;
    font-size: 12px;
  }

  .blog-detail .info .info-one .info-icon p {
    padding-left: 0px;
    font-size: 12px;
  }

  .blog-detail .info .info-two {
    padding: 0 0px 0 5px !important;
  }

  .blog-detail .info .info-two h2 {
    font-size: 22px !important;
    padding-top: 2px;
    letter-spacing: 1px;
    line-height: 28px !important;
  }

  .blog-detail .info .info-three {
    padding: 10px 15px 0px 5px !important;
  }

  /* End blog section */
}

@media (max-width: 375px) {
  /* Start Hero section homeSlider */
  .slider-content .content-detail {
    top: 20%;
    left: 2%;
    width: 100%;
  }

  .slider-content .content-detail h2 {
    font-size: 28px;
    line-height: 40px;
  }

  .slider-content {
    position: relative;
    height: 30vh;
  }

  .wrapper {
    height: 5vh;
  }

  .wrapper h1 {
    font-size: 10px;
    letter-spacing: 0.2px;
  }
  /* end Hero section homeSlider */

  /* Start our plan section */

  .parent-container .our-Plans {
    max-width: 340px !important;
    margin: 20px auto 0 auto !important;
  }

  .parent-container .our-Plans h5 {
    font-size: 12px;
    font-weight: bold;
  }

  .parent-container .our-Plans .heading {
    font-size: 20px;
  }

  .parent-container .our-Plans .icon-container {
    gap: 20px;
    padding: 20px 0 !important;
  }

  .parent-container .our-Plans .icon-container a {
    height: 160px;
    width: 40%;
  }

  .parent-container .our-Plans .icon-container a h3 {
    font-size: 12px;
    font-weight: bold;
  }

  /* End our plan section */

  /* Start about parent section */
  .about-parent .childs {
    max-width: 340px;
    margin: auto;
    padding: 0 !important;
  }

  .childs .child1 .image img {
    height: 250px;
  }

  .about-parent .childs .child2 .about-first h1 {
    font-size: 20px;
  }

  .child2 .about-first h4 {
    font-size: 12px;
    font-weight: bold;
  }

  .child2 .about-first h3 {
    font-size: 14px;
    line-height: 18px;
  }

  .child2 .about-second h2 {
    font-size: 18px;
  }

  .child2 .about-second .button {
    padding: 0px;
  }

  .child2 .about-second ul li {
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
  }

  .child2 .about-second ul li span {
    font-weight: bold;
  }

  .about-parent .childs .button a {
    padding: 12px 22px;
    font-size: 15px;
  }
  /* End about parent section */

  /* Start about offering section */

  .offering {
    max-width: 400px !important;
    margin: 0px auto !important;
  }

  .offering .part-one h2 {
    font-size: 20px;
    line-height: 25px;
    width: 90%;
  }

  .offering .part-one h4 {
    font-size: 12px;
    font-weight: bold;
  }

  .offering .part-two {
    padding: 20px 0 0 0;
  }

  .offering .part-two .part-card {
    height: 200px;
    width: 160px;
  }

  .offering .part-two .part-card .front {
    padding: 10px 8px !important;
  }

  .offering .part-two .part-card .front h3,
  .offering .part-two .part-card .back h3 {
    font-size: 16px;
    padding: 0;
  }

  .offering .part-two .part-card .front i,
  .offering .part-two .part-card .back i {
    font-size: 30px;
  }

  .offering .part-two .part-card .front p,
  .offering .part-two .part-card .back p {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.3px;
  }

  /* End about offering section */

  /* Start ranking section */
  .ranking {
    height: 140px;
    margin: 30px 0 !important;
  }

  .ranking .rank i {
    font-size: 20px;
    padding: 10px;
    border: 4px solid #0073bd;
  }

  .ranking .rank i:hover {
    font-size: 22px;
    padding: 10px;
    border: 4px solid #0073bd;
  }

  .ranking .rank h3 {
    font-size: 14px;
  }

  .ranking .rank p {
    font-size: 10px;
  }

  /* End ranking section */

  /* Start benefit section */
  .benefits {
    max-width: 340px !important;
  }

  .benefits .child1 {
    width: 100%;
  }

  .benefits .child2 {
    width: 100%;
    margin-top: 10px;
  }

  .benefits .child1 .image img {
    width: 100% !important;
    height: 250px;
  }

  .benefits .child1 .btn1 {
    right: 0%;
    padding: 15px 10px !important;
    width: 75%;
  }

  .benefits .child1 .btn1 i {
    padding: 15px 10px !important;
    top: -15% !important;
    font-size: 40px;
  }

  .benefits .child1 .btn1 h2 {
    margin-left: 70px !important;
    font-size: 16px;
  }

  .benefits .child2 .about-first h2 {
    font-size: 22px;
  }

  .benefits .child2 .about-first h4 {
    font-size: 12px;
  }

  .benefits .child2 .about-second h1 {
    font-size: 18px;
    padding: 2px 0 !important;
  }

  /* End benefit section */

  /* Start brand slider */

  .brand-slider {
    max-width: 340px !important;
    margin: 50px auto !important;
  }

  /* End brand slider */

  /* Start Members section */
  .member {
    max-width: 340px !important;
  }

  .member .part1 h1 {
    font-size: 18px;
  }

  .member .part1 h4 {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.5px;
  }

  .member .part2 .info h1 {
    font-size: 15px;
  }

  .member .part2 .info h3 {
    font-size: 15px;
    padding: 0 !important;
  }

  .member .part2 .info ul {
    gap: 5px;
  }

  .member .part2 .detail {
    width: 100% !important;
    margin: 0px !important;
  }
  /* End Members section */

  /* Start Testimonals */
  .testimonals {
    max-width: 340px !important;
    margin: 20px auto !important;
  }

  .testimonals .part1 h1 {
    font-size: 18px;
  }

  .testimonal-content .para p {
    width: 88% !important;
    text-align: justify;
    font-size: 14px !important;
    line-height: 1.4 !important;
  }

  .testimonal-content .detail .info h2 {
    font-size: 16px !important;
  }

  .testimonal-content .detail .info p {
    color: #002249a6;
    font-size: 14px;
  }
  /* End Testimonals */

  /* Start contact section */

  .contact{
    /* height: 50vh !important; */
    height: 65vh  !important;
  }
  .contact .contact_detail {
    width: 100% !important;
    
  }
  
  .contact_detail .part1, .contact_detail .part2 {
    padding: 30px 10px !important;
    height: 65vh  !important;
  }

  .contact_detail .part1 .info h4 {
    font-size: 12px;
    letter-spacing: 0.5px;
    font-weight: bold;
  }

  .form .icons .icon i {
    padding: 6px 8px !important;
    font-size: 12px !important;
  }

  .form .icons .icon h3 {
    font-size: 14px !important;
    padding-left: 10px !important;
    letter-spacing: 0.8px !important;
  }

  .contact_detail .part1 .info h2 {
    font-size: 25px;
    line-height: 30px;
    padding: 5px 0 !important;
  }

   .contact_detail .part1 .form .icon{
    display: none;
   }

  .contact_detail .part1 .form {
    margin-top: 30px !important;
  }

  .form .share .input {
    padding: 15px !important;
    font-size: 14px;
  }

  .form .share .submit {
    padding: 10px 15px !important;
    width: 75% !important;
  }

  .form .share {
    width: 100% !important;
    padding-left: 40px !important;
  }

  /* End contact section */

  /* Start blog section */
  .blog-section {
    width: 340px;
    margin: 0px auto !important;
  }

  .blog-second .blogger .img {
    height: 60%;
  }

  .blog-section .blog-first h2 {
    font-size: 20px;
    font-weight: bold;
  }

  .blogs .blogger .blog-detail {
    width: 85% !important;
    height: 40% !important;
    bottom: 15% !important;
  }
  /* End blog section */
}

@media (max-width: 320px) {
  /* Start Hero section homeSlider */

  .slider-content .content-detail {
    top: 20%;
    left: 2%;
    width: 100%;
  }

  .slider-content .content-detail h2 {
    font-size: 25px;
    line-height: 40px;
  }

  .slider-content {
    position: relative;
    height: 30vh;
  }

  .wrapper {
    height: 5vh;
  }

  .wrapper h1 {
    font-size: 8px;
    letter-spacing: 0.2px;
  }

  /* End Hero section homeSlider */

  /* Start our plan section */

  .parent-container .our-Plans {
    max-width: 300px !important;
    margin: 20px auto 0 auto !important;
  }

  .parent-container .our-Plans h5 {
    font-size: 12px;
    font-weight: bold;
  }

  .parent-container .our-Plans .heading {
    font-size: 18px;
  }

  .parent-container .our-Plans .icon-container a img {
    width: 70px;
  }

  .parent-container .our-Plans .icon-container a h3 {
    font-size: 12px;
    font-weight: bold;
  }

  /* End our plan section */

  /* Start about parent section */

  .about-parent .childs {
    max-width: 300px;
    margin: auto;
  }

  .childs .child1 .image img {
    height: 250px;
  }

  .about-parent .childs .child2 .about-first h1 {
    font-size: 20px;
  }

  .child2 .about-first h4 {
    font-size: 12px;
    font-weight: bold;
  }

  .child2 .about-first h3 {
    font-size: 14px;
    line-height: 18px;
  }

  .child2 .about-second h2 {
    font-size: 18px;
  }

  .child2 .about-second .button {
    padding: 0px;
  }

  .child2 .about-second ul li {
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
  }

  .child2 .about-second ul li span {
    font-weight: bold;
  }

  .about-parent .childs .button a {
    padding: 12px 22px;
    font-size: 15px;
  }

  /* End about parent section */

  /* Start about offering section */

  .offering {
    max-width: 300px !important;
    margin: 0px auto !important;
  }

  .offering .part-one h2 {
    font-size: 18px;
    line-height: 22px;
    width: 90%;
  }

  .offering .part-one h4 {
    font-size: 12px;
    font-weight: bold;
  }

  .offering .part-two {
    padding: 20px 0 0 0;
  }

  .offering .part-two .part-card {
    height: 240px;
    width: 130px;
  }

  .offering .part-two .part-card .front{
    padding: 10px 8px !important;
  }

  .offering .part-two .part-card .front h3,
  .offering .part-two .part-card .back h3 {
    font-size: 16px;
    padding: 0;
  }

  .offering .part-two .part-card .front i,
  .offering .part-two .part-card .back i {
    font-size: 30px;
  }

  .offering .part-two .part-card .front p,
  .offering .part-two .part-card .back p {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.3px;
  }

  /* End about offering section */

  /* Start ranking section */

  .ranking {
    height: 120px;
    margin: 20px 0 !important;
  }

  .ranking .rank i {
    font-size: 18px;
    padding: 8px;
    border: 4px solid #0073bd;
  }

  .ranking .rank i:hover {
    font-size: 18px;
    padding: 10px;
    border: 4px solid #0073bd;
  }

  .ranking .rank h3 {
    font-size: 12px;
  }

  .ranking .rank p {
    font-size: 8px;
  }

  /* End ranking section */

  /* Start benefit section */

  .benefits {
    max-width: 300px !important;
  }

  .benefits .child1 .btn1 {
    right: 0%;
    padding: 15px 10px !important;
    width: 85%;
  }

  .benefits .child1 .btn1 h2 {
    margin-left: 80px !important;
    font-size: 15px;
  }

  .benefits .child2 .about-first h2 {
    font-size: 20px;
  }

  .benefits .child2 .about-first h4 {
    font-size: 12px;
  }

  .benefits .child2 .about-second h1 {
    font-size: 16px;
    padding-top: 10px !important;
  }

  /* End benefit section */

  /* End benefit section */

  /* Start brand slider */

  .brand-slider {
    max-width: 300px !important;
    margin: 50px auto !important;
  }

  /* End brand slider */

  /* Start Members section */

  .member {
    max-width: 300px !important;
  }

  .member .part1 h1 {
    font-size: 16px;
  }

  .member .part1 h4 {
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 0.5px;
  }

  .member .part2 .info h1 {
    font-size: 14px;
  }

  .member .part2 .info h3 {
    font-size: 14px;
    padding: 0 !important;
  }

  .member .part2 .info p {
    font-size: 13px;
    line-height: 18px;
  }

  .member .part2 .info ul {
    gap: 5px;
  }

  .member .part2 .info ul li {
    font-size: 13px;
    line-height: 18px;
  }

  .member .part2 .detail {
    width: 100% !important;
    margin: 0px !important;
  }

  /* End Members section */

  /* Start Testimonals */

  .testimonals {
    max-width: 300px !important;
    margin: 20px auto !important;
  }

  .testimonals .part1 h1 {
    font-size: 18px;
  }

  .testimonal-content .para p {
    width: 90% !important;
    font-size: 13px !important;
    line-height: 1.4 !important;
  }

  .testimonal-content .detail .info h2 {
    font-size: 16px !important;
  }

  .testimonal-content .detail .info p {
    font-size: 13px !important;
  }
  /* End Testimonals */

  
  /* Start contact section */

  .contact .contact_detail {
    width: 100% !important;
  }

  .contact_detail .part1 {
    padding: 30px 10px !important;
  }

  .contact_detail .part1 .info h4 {
    font-size: 12px;
    letter-spacing: 0.5px;
    font-weight: bold;
  }

  .form .icons .icon i {
    padding: 6px 8px !important;
    font-size: 12px !important;
  }

  .form .icons .icon h3 {
    font-size: 14px !important;
    padding-left: 10px !important;
    letter-spacing: 0.8px !important;
  }

  .contact_detail .part1 .info h2 {
    font-size: 25px;
    line-height: 30px;
    padding: 5px 0 !important;
  }

  .contact_detail .part1 .form {
    margin-top: 30px !important;
  }

   .contact_detail .part1 .form .icon{
    display: none;
   }

  .form .share .input {
    padding: 15px !important;
    font-size: 14px;
  }

  .form .share .submit {
    padding: 10px 15px !important;
    width: 75% !important;
  }

  .form .share {
    width: 100% !important;
    padding-left: 0px !important;
  }

  /* End contact section */


  /* Start blog section */

  .blog-section {
    width: 300px;
    margin: 0px auto !important;
  }

  .blog-second .blogger .img {
    height: 60%;
  }

  .blog-section .blog-first h2 {
    font-size: 20px;
    font-weight: bold;
  }

  .blogs .blogger .blog-detail {
    width: 85% !important;
    height: 40% !important;
    bottom: 15% !important;
  }

  /* End blog section */
}
