.contact-container{
    max-width: 1250px;
    height: 100vh;
    margin: auto;
}

.massage-texting{
    padding: 50px 20px 20px 0px;
}

.massage-texting h1{
    padding: 10px 0;
}

.contact-information{
    padding: 20px 20px 0px 0;
}

.contact-detail{
    padding-bottom: 20px;
}

.contact-detail .icon i{
    font-size: 30px;
    color: #0073bd;
}

.sending-form{
    padding: 80px 20px 20px 20px;
}

.sending-form input{
    padding: 20px;
    width: 48%;
    margin-left: 10px;
    margin-top: 20px;
}

.sending-form textarea{
    margin-left: 10px;
    margin-top: 20px;
    padding: 20px;

}