@media (max-width: 1024px) {
  /* Start guidlines section */

  .guidlines {
    max-width: 980px !important;
  }

  .guidlines h1 {
    font-size: 25px;
  }

  .guidlines .icon img {
    width: 80px;
  }

  .guidlines .icon h1 {
    font-size: 20px;
  }

  /* End guidlines section */

  /* Start pdf section */

  .pdf-section {
    max-width: 980px !important;
  }

  .pdf-section .h2 {
    width: 680px;
    font-size: 25px;
  }

  .pdf-section .pdf-table {
    max-width: 980px !important;
  }

  /* End pdf section */
}

@media (max-width: 768px) {
  /* Start guidlines section */

  .guidlines {
    max-width: 750px !important;
  }

  .guidlines h1 {
    font-size: 22px;
  }

  .guidlines h2 {
    font-size: 14px;
  }

  .guidlines .icon img {
    width: 70px;
  }

  .guidlines .icon h1 {
    font-size: 16px;
  }

  .guidlines .content-container {
    max-width: 700px !important;
    margin: 20px auto !important;
    padding: 20px !important;
  }

  .content h2 {
    font-size: 16px;
  }

  .content ul li {
    font-size: 14px;
    padding: 3px 0 !important;
  }

  /* End guidlines section */

  /* Start pdf section */

  .pdf-section {
    max-width: 750px !important;
  }

  .pdf-section .h2 {
    width: 600px;
    font-size: 22px;
  }

  .pdf-section h3 {
    font-size: 15px;
  }

  .pdf-section .pdf-table {
    max-width: 750px !important;
  }

  .pdf-section .pdf-table .first .title,
  .pdf-section .pdf-table .second .title {
    font-size: 16px;
  }

  .pdf-section .pdf-table .first h2 {
    font-size: 14px;
  }

  .pdf-section .pdf-table .first img {
    width: 35px;
  }

  .pdf-section .pdf-table .second .hello {
    padding: 20px !important;
  }

  .pdf-section .pdf-table .second .img {
    width: 15px !important;
  }

  /* End pdf section */
}

@media (max-width: 425px) {
  /* Start guidlines section */

  .guidlines {
    max-width: 400px !important;
  }

  .guidline-container {
    margin-top: 20px !important;
  }

  .guidlines h1 {
    font-size: 18px;
  }

  .guidlines h2 {
    font-size: 12px;
  }

  .guidlines .icon {
    width: 30%;
  }
  .guidlines .icon img {
    width: 60px;
  }

  .guidlines .icon h1 {
    font-size: 12px;
  }

  .guidlines .content-container {
    max-width: 400px !important;
    margin: 20px auto !important;
    padding: 10px !important;
  }

  .content h2 {
    font-size: 15px;
  }

  .content ul li {
    font-size: 12px;
    padding: 2px 0 !important;
  }

  /* End guidlines section */

  /* Start pdf section */

  .pdf-section {
    max-width: 400px !important;
  }

  .pdf-section .h2 {
    width: 400px;
    font-size: 20px;
  }

  .pdf-section h3 {
    font-size: 14px;
  }

  .pdf-section .pdf-table {
    max-width: 400px !important;
  }

  .pdf-table .first,
  .pdf-table .second {
    width: 50%;
  }

  .pdf-section .pdf-table .first .title,
  .pdf-section .pdf-table .second .title {
    font-size: 14px;
  }

  .pdf-section .pdf-table .first h2 {
    font-size: 12px;
    gap: 15px;
  }

  .pdf-section .pdf-table .first img {
    width: 35px;
  }

  .pdf-section .pdf-table .second .hello {
    padding: 20px !important;
  }

  .pdf-section .pdf-table .second .img {
    width: 15px !important;
  }

  /* End pdf section */
}

@media (max-width: 400px) {
  /* Start guidlines section */

  .guidlines {
    max-width: 380px !important;
    /* background-color: red; */
  }

  .guidline-container {
    margin-top: 20px !important;
  }

  .guidlines h1 {
    font-size: 16px;
  }

  .guidlines h2 {
    font-size: 10px;
  }

  .guidlines .icon {
    width: 32%;
  }
  .guidlines .icon img {
    width: 55px;
  }

  .guidlines .icon h1 {
    font-size: 10px;
  }

  .guidlines .content-container {
    max-width: 380px !important;
    margin: 10px auto !important;
    padding: 10px !important;
  }

  .content h2 {
    font-size: 14px;
  }

  .content ul li {
    font-size: 10px;
    padding: 2px 0 !important;
  }

  /* End guidlines section */

  /* Start pdf section */

  .pdf-section {
    max-width: 380px !important;
  }

  .pdf-section .h2 {
    width: 340px;
    font-size: 18px;
  }

  .pdf-section h3 {
    font-size: 12px;
  }

  .pdf-section .pdf-table .second .img {
    width: 15.5px !important;
  }

  /* End pdf section */
}

@media (max-width: 375px) {
  /* Start guidlines section */

  .guidlines {
    max-width: 340px !important;
    /* background-color: red; */
  }

  .guidline-container {
    margin-top: 20px !important;
  }

  .guidlines h1 {
    font-size: 16px;
  }

  .guidlines h2 {
    font-size: 10px;
  }

  .guidlines .icon {
    width: 32%;
  }
  .guidlines .icon img {
    width: 55px;
  }

  .guidlines .icon h1 {
    font-size: 10px;
  }

  .guidlines .content-container {
    max-width: 340px !important;
    margin: 10px auto !important;
    padding: 10px !important;
  }

  .content h2 {
    font-size: 14px;
  }

  .content ul li {
    font-size: 10px;
    padding: 2px 0 !important;
  }

  /* End guidlines section */

  /* Start pdf section */

  .pdf-section {
    max-width: 340px !important;
  }

  .pdf-section .h2 {
    width: 340px;
    font-size: 18px;
  }

  .pdf-section h3 {
    font-size: 12px;
  }

  .pdf-section .pdf-table .second .img {
    width: 16px !important;
  }

  /* End pdf section */
}

@media (max-width: 320px) {
  /* Start guidlines section */

  .guidlines {
    max-width: 300px !important;
    margin: 0px auto !important;
  }

  .guidline-container {
    margin-top: 10px !important;
  }

  .guidlines h1 {
    font-size: 15px;
    padding: 0px !important;
  }

  .guidlines h2 {
    font-size: 8px;
  }

  .guidlines .icon {
    width: 32%;
  }
  .guidlines .icon img {
    width: 50px;
  }

  .guidlines .icon h1 {
    font-size: 8px;
  }

  .content h2 {
    font-size: 14px;
  }

  /* End guidlines section */


  /* Start pdf section */

  .pdf-section {
    max-width: 300px !important;
  }

  .pdf-section .h2 {
    width: 300px;
    font-size: 16px;
  }

  .pdf-section .pdf-table {
    max-width: 300px !important;
    margin: 10px 0 !important;
  }

  .pdf-section .pdf-table .first .title,
  .pdf-section .pdf-table .second .title {
    font-size: 12px;
  }

  /* End pdf section */
}
