@media (max-width: 1024px) {
  /* start first container page section */
  .first_container {
    max-width: 980px !important;
  }

  .first_container .img_container img {
    width: 90%;
  }

  .company_detail h2 {
    font-size: 25px;
    line-height: 30px;
  }

  .company_detail p {
    font-size: 14px;
    text-align: justify;
  }

  .company_detail h4 {
    font-size: 16px;
  }

  .company_detail ul li {
    font-size: 14px;
    text-align: justify;
  }

  .company_detail ul li span {
    font-size: 15px;
  }
  /* End first container page section */

  /* start origin section */

  .origin-section {
    width: 980px;
  }

  .origin-section .left {
    padding-left: 20px !important;
    gap: 10px;
  }

  .icon-div img {
    height: 40px;
  }

  /* End origin section */
}

@media (max-width: 768px) {
  /* start first container page section */
  .first_container {
    max-width: 740px !important;
    padding: 20px 0 !important;
  }

  .first_container .img_container img {
    width: 95%;
  }

  .company_detail h2 {
    font-size: 22px;
    line-height: 25px;
  }

  .company_detail h5 {
    font-size: 14px;
  }

  .company_detail p {
    font-size: 14px;
    text-align: justify;
    padding: 5px 0 !important;
  }

  .company_detail h4 {
    font-size: 15px;
  }

  .company_detail ul li {
    font-size: 14px;
    text-align: justify;
  }

  .company_detail ul li span {
    font-size: 15px;
  }
  /* End first container page section */

  /* start origin section */

  .origin-section {
    width: 700px;
    flex-direction: column;
  }

  .origin-section .right,
  .origin-section .left {
    width: 100%;
  }

  .origin-section .right img {
    height: 300px;
    object-fit: cover;
    object-position: top;
  }

  .origin-section .right h4 {
    font-size: 25px;
  }

  .origin-section .right p {
    padding: 0 !important;
    font-size: 14px;
  }

  .origin-section .left {
    padding-left: 0px !important;
    gap: 5px;
    margin-top: 20px;
  }

  .icon-div {
    gap: 10px;
  }

  .icon-div .content {
    width: 100%;
  }

  .icon-div img {
    height: 40px;
  }

  .icon-div p {
    font-size: 14px;
    padding: 5px 0 !important;
  }

  /* End origin section */
}

@media (max-width: 425px) {
  /* start first container page section */
  .first_container {
    max-width: 400px !important;
    flex-direction: column;
  }

  .img_container,
  .company_detail {
    width: 100%;
    margin-top: 10px;
  }
  .first_container .img_container img {
    width: 100%;
  }

  .company_detail h2 {
    font-size: 20px;
    line-height: 25px;
  }

  .company_detail h5 {
    font-size: 12px;
  }

  .company_detail p {
    font-size: 12px;
    text-align: justify;
    padding: 5px 0 !important;
  }

  .company_detail h4 {
    font-size: 15px;
  }

  .company_detail ul li {
    font-size: 12px;
    text-align: justify;
    padding: 2px 0 !important;
  }

  .company_detail ul li span {
    font-size: 14px;
  }
  /* End first container page section */

  /* start origin section */

  .origin-section {
    width: 400px;
  }

  .origin-section .right,
  .origin-section .left {
    width: 100%;
  }

  .origin-section .right img {
    height: 200px;
    object-fit: cover;
    object-position: top;
  }

  .origin-section .right h4 {
    font-size: 20px;
  }

  .origin-section .right p {
    padding: 0 !important;
    font-size: 14px;
    line-height: 20px;
  }

  .origin-section .left {
    gap: 5px;
  }

  .icon-div {
    gap: 10px;
  }

  .icon-div img {
    height: 35px;
  }

  .icon-div h3 {
    font-size: 16px;
    padding: 5px 0 !important;
  }

  .icon-div p {
    font-size: 12px;
    padding: 5px 0 !important;
  }

  /* End origin section */
}

@media (max-width: 375px) {
  /* start first container page section */
  .first_container {
    max-width: 340px !important;
  }

  .company_detail h2 {
    font-size: 18px;
    line-height: 20px;
  }

  .company_detail h5 {
    font-size: 10px;
  }

  .company_detail h4 {
    font-size: 14px;
  }

  /* End first container page section */

  /* start origin section */

  .origin-section {
    width: 340px;
  }

  .origin-section .right,
  .origin-section .left {
    width: 100%;
  }

  .origin-section .right img {
    height: 200px;
  }

  .origin-section .right h4 {
    font-size: 18px;
  }

  .origin-section .right p {
    padding: 0 !important;
    font-size: 12px;
    line-height: 18px;
  }

  .origin-section .left {
    gap: 5px;
  }

  .icon-div {
    gap: 10px;
  }

  .icon-div img {
    height: 30px;
  }

  .icon-div h3 {
    font-size: 15px;
    padding: 5px 0 !important;
  }

  .icon-div p {
    font-size: 10px;
    padding: 0 !important;
  }

  /* End origin section */
}

@media (max-width: 320px) {
  /* start first container page section */
  .first_container {
    max-width: 300px !important;
  }

  .img_container,
  .company_detail {
    width: 100%;
    margin-top: 10px;
  }

  .company_detail h2 {
    font-size: 16px;
  }

  .company_detail h5 {
    font-size: 10px;
  }

  .company_detail p {
    font-size: 12px;
    text-align: justify;
    padding: 5px 0 !important;
  }

  .company_detail h4 {
    font-size: 14px;
  }

  .company_detail ul li {
    font-size: 12px;
    text-align: justify;
    padding: 2px 0 !important;
  }

  .company_detail ul li span {
    font-size: 14px;
  }
  /* End first container page section */

  
  /* start origin section */

  .origin-section {
    width: 300px;
  }

  .origin-section .right img {
    height: 160px;
  }

  .origin-section .right h4 {
    font-size: 18px;
  }

  .origin-section .left {
    gap: 5px;
    margin-top: 10px;
  }


  /* End origin section */
}
