/* Start Topbar */

@media (max-width: 1250px) {
  .topbar {
    height: 30px;
  }
  .first_bar {
    width: 55%;
  }

  .icon .location,
  .email {
    padding-left: 20px;
  }
  .location p,
  .email p {
    font-size: 12px;
  }

  .second_bar {
    width: 45%;
  }

  .second_bar .info {
    width: 70%;
  }

  .second_bar .nav a {
    font-size: 12px;
  }
}

@media (max-width: 1100px) {
  .topbar {
    height: 30px;
  }
  .first_bar {
    width: 60%;
  }

  .icon .location,
  .email {
    padding-left: 20px;
  }
  .location p,
  .email p {
    font-size: 12px;
  }

  .second_bar {
    width: 40%;
  }

  .second_bar .info {
    width: 80%;
  }

  .second_bar .nav a {
    font-size: 12px;
  }
}

@media (max-width: 1024px) {
  .topbar {
    height: 30px;
  }
  .first_bar {
    width: 60%;
  }

  .icon .location,
  .email {
    padding-left: 20px;
  }
  .location p,
  .email p {
    font-size: 12px;
  }

  .second_bar {
    width: 40%;
  }

  .second_bar .info {
    width: 80%;
  }

  .second_bar .nav a {
    font-size: 12px;
  }
}

@media (max-width: 1010px) {
  .topbar {
    height: 30px;
  }
  .first_bar {
    width: 65%;
  }

  .icon .location,
  .email {
    padding-left: 20px;
  }
  .location p,
  .email p {
    font-size: 12px;
  }

  .second_bar {
    width: 35%;
  }

  .second_bar .info {
    width: 80%;
  }

  .second_bar .nav a {
    font-size: 12px;
  }
}

@media (max-width: 950px) {
  .topbar {
    display: none;
  }
}

/* Start header */

@media (max-width: 1024px) {
  /* Start header section */

  .header {
    height: 80px;
  }

  .header .logo img {
    height: 160px;
    width: 160px;
  }

  .menu ul {
    width: 100%;
  }

  /* End header section */
}

@media (max-width: 950px) {
  .header {
    height: 60px;
  }

  .header .logo {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .header .logo img {
    width: 120px;
  }

  .menu {
    display: none;
  }

  .menu-icon {
    display: flex;
    margin-left: 450px;
    align-items: center;
    justify-content: center;
  }

  .menu-icon i {
    font-size: 20px;
    color: #002249;
    cursor: pointer;
  }

  .header .icon {
    display: none;
  }
  .menu-container {
    display: block;
  }
}

@media (max-width: 768px) {
  .menu-icon {
    margin-left: 380px;
  }
}

@media (max-width: 425px) {
  .menu-icon {
    margin-left: 150px;
  }

  /* Start footer section */

  footer {
    display: flex;
    flex-direction: column;
    padding: 20px 10px !important;
    gap: 50px;
  }

  .footer-logo .logo {
    width: 50% !important;
    display: flex;
  }

  .footer-logo .logo img {
    height: 60px;
    width: 100% !important;
  }

  .footer-logo .number {
    width: 50% !important;
  }

  .footer-quicklink{
    flex-direction: column;
    gap: 25px;
    width: 100% !important;
  }

  .footer-quicklink .explore , .insurance, .address, .newsletter{
    width: 100% !important;
    padding: 0 !important;
  }

  .footer-copyright{
    flex-direction: column;
    gap: 10px;
  }
  /* End footer section */
}
