@media (max-width: 1024px) {
  /* Start header section */

  .header-section {
    max-width: 980px !important;
    /* background-color: red; */
  }

  .header-section .first-section h2 {
    font-size: 25px;
    padding: 10px 0 !important;
  }

  .header-section .first-section p {
    width: 90%;
    font-size: 15px;
  }

  .icons-container .icon {
    width: 300px;
  }

  .icons-container .icon img {
    width: 40px;
  }

  .icons-container .icon p {
    font-size: 14px;
    line-height: 18px;
  }

  .header-section .second-section {
    padding: 0 !important;
  }

  .second-section .form-section h2 {
    padding: 10px 0 !important;
    font-size: 18px;
  }

  .second-section .form-section h3 {
    font-size: 15px;
    padding: 0px 0 10px 0 !important;
  }

  .second-section .form-section .form input {
    font-size: 15px;
    padding: 10px !important;
  }

  .second-section .form-section .form .btn {
    padding: 15px !important;
    font-size: 14px;
  }

  /* End header section */

  /* Start first container section  */

  .first_container ul {
    width: 95%;
  }

  /* End first container section  */

  /* Start benefit container section  */

  .benefit_first_container {
    max-width: 980px !important;
  }

  .benefit_first_container .company_detail h2 {
    font-size: 20px;
  }

  /* End benefit container section  */

  /* Start Share section */

  .share-section {
    max-width: 980px !important;
  }

  .share-section h1 {
    font-size: 25px;
  }

  .share-section .share-container .share-first {
    gap: 30px;
  }

  /* End Share section */

  /* Start accordion section  */

  .accordion {
    max-width: 800px !important;
  }

  .accordion-section {
    padding: 12px !important;
  }

  .accordion h2 {
    font-size: 25px;
  }

  .accordion .h2 {
    font-size: 16px;
  }

  .accordion .para {
    font-size: 15px;
  }

  /* End accordion section  */
}

@media (max-width: 768px) {
  /* Start header section */

  .header-section {
    max-width: 720px !important;
  }

  .header-section .first-section h2 {
    font-size: 22px;
    padding: 10px 0 !important;
  }

  .header-section .first-section p {
    width: 90%;
    font-size: 14px;
  }

  .header-section .first-section h3 {
    font-size: 16px;
  }

  .icons-container .icon {
    width: 220px;
  }

  .icons-container .icon img {
    width: 30px;
  }

  .icons-container .icon p {
    font-size: 12px;
    line-height: 16px;
  }

  .second-section .form-section {
    height: 80%;
  }
  .second-section .form-section h2 {
    padding: 10px 0 !important;
    font-size: 16px;
  }

  .second-section .form-section h3 {
    font-size: 14px;
    padding: 0px 0 10px 0 !important;
  }

  .second-section .form-section .form {
    padding: 15px !important;
  }

  .second-section .form-section .form input,
  .second-section .form-section .form textarea {
    font-size: 14px;
    padding: 10px !important;
  }

  .second-section .form-section .form .btn {
    padding: 15px !important;
    font-size: 10px;
  }

  /* End header section */

  /* Start first container section  */

  .first_container ul {
    width: 95%;
  }

  /* End first container section  */

  /* Start benefit container section  */

  .benefit_first_container {
    max-width: 720px !important;
    flex-direction: column;
  }

  .benefit_img_container,
  .company_detail {
    width: 100%;
  }

  .benefit_img_container img {
    height: 300px;
  }

  .benefit_first_container .company_detail h2 {
    font-size: 20px;
  }

  .benefit_first_container .company_detail .icon-container h3 {
    font-size: 16px;
  }

  .benefit_first_container
    .company_detail
    .icon-container
    .icons-section
    .icons
    .icon
    img {
    width: 30px;
  }

  .benefit_first_container
    .company_detail
    .icon-container
    .icons-section
    .icons
    .icon
    h2 {
    font-size: 16px;
  }

  /* End benefit container section  */

  /* Start Share section */

  .share-section {
    max-width: 720px !important;
  }

  .share-section h1 {
    font-size: 25px;
  }

  .share-section .share-container .share-first {
    gap: 30px;
  }

  /* End Share section */

  /* Start accordion section  */

  .accordion {
    max-width: 650px !important;
  }

  .accordion-section {
    padding: 10px !important;
    gap: 10px;
  }

  .accordion h2 {
    font-size: 22px;
  }

  .accordion .h2 {
    font-size: 15px;
  }

  .accordion .para {
    font-size: 14px;
  }

  /* End accordion section  */
}

@media (max-width: 425px) {
  /* Start header section */

  .header-section {
    max-width: 400px !important;
    flex-direction: column;
  }

  .header-section .first-section,
  .header-section .second-section {
    width: 100%;
  }

  .header-section .first-section h2 {
    font-size: 20px;
    padding: 10px 0 !important;
  }

  .header-section .first-section p {
    width: 100%;
    font-size: 12px;
  }

  .header-section .first-section h3 {
    font-size: 15px;
  }

  .icons-container .icon {
    width: 180px;
  }

  .icons-container .icon img {
    width: 30px;
  }

  .icons-container .icon p {
    font-size: 10px;
    line-height: 14px;
  }

  .header-section .second-section {
    margin-top: 15px;
  }

  .second-section .form-section .form .btn {
    padding: 15px !important;
    font-size: 12px;
  }

  /* End header section */

  /* Start first container section  */

  .first_container ul {
    width: 100%;
  }

  /* End first container section  */

  /* Start benefit container section  */

  .benefit_first_container {
    max-width: 400px !important;
    padding: 0 !important;
  }

  .benefit_img_container img {
    height: 200px;
  }

  .benefit_first_container .company_detail h2 {
    font-size: 18px;
  }

  .benefit_first_container .company_detail .icon-container {
    padding: 0 !important;
  }

  .benefit_first_container .company_detail .icon-container h3 {
    font-size: 16px;
  }

  .benefit_first_container
    .company_detail
    .icon-container
    .icons-section
    .icons
    .icon
    img {
    width: 30px;
  }

  .benefit_first_container
    .company_detail
    .icon-container
    .icons-section
    .icons
    .icon
    h2 {
    font-size: 14px;
    line-height: 18px;
  }

  .benefit_first_container
    .company_detail
    .icon-container
    .icons-section
    .icons
    p {
    font-size: 12px;
    width: 100%;
  }

  /* End benefit container section  */

  /* Start Share section */

  .share-section {
    max-width: 400px !important;
  }

  .share-section h1 {
    font-size: 22px;
  }

  .share-section .share-container {
    flex-direction: column;
  }

  .share-section .share-container .share-first,
  .share-section .share-container .second-section {
    width: 100%;
  }

  .share-section .share-container .share-first {
    gap: 30px;
  }

  /* End Share section */

  /* Start accordion section  */

  .accordion {
    max-width: 400px !important;
  }

  .accordion-section {
    padding: 8px !important;
    gap: 10px;
  }

  .accordion h2 {
    font-size: 20px;
  }

  .accordion .h2 {
    font-size: 14px;
  }

  .accordion .para {
    font-size: 13px;
  }

  /* End accordion section  */
}

@media (max-width: 400px) {
  /* Start header section */

  .header-section {
    max-width: 380px !important;
    padding: 0 5px !important;
  }

  .header-section .first-section h2 {
    font-size: 16px;
    padding: 5px 0 !important;
  }

  .header-section .first-section p {
    font-size: 12px;
  }

  .header-section .first-section h3 {
    font-size: 15px;
  }

  .icons-container .icon {
    width: 100%;
  }

  .icons-container .icon img {
    width: 30px;
  }

  .icons-container .icon p {
    font-size: 12px;
    line-height: 14px;
  }

  /* End header section */

  /* Start benefit container section  */

  .benefit_first_container {
    max-width: 380px !important;
    padding: 0 5px !important;
  }

  .benefit_img_container img {
    height: 180px;
  }

  .benefit_first_container .company_detail .icon-container {
    padding: 0 !important;
  }

  .benefit_first_container .company_detail h2 {
    font-size: 16px;
  }

  .benefit_first_container .company_detail .icon-container h3 {
    font-size: 16px;
    padding: 5px 0 !important;
  }

  .benefit_first_container
    .company_detail
    .icon-container
    .icons-section
    .icons
    .icon
    img {
    width: 30px;
  }

  .benefit_first_container
    .company_detail
    .icon-container
    .icons-section
    .icons
    .icon
    h2 {
    font-size: 14px;
    line-height: 18px;
  }

  .benefit_first_container
    .company_detail
    .icon-container
    .icons-section
    .icons
    p {
    font-size: 12px;
    width: 100%;
  }

  /* End benefit container section  */

  /* Start Share section */

  .share-section {
    max-width: 380px !important;
    padding: 0 10px !important;
  }

  .share-section h1 {
    font-size: 18px;
  }

  .share-section .share-container .share-first {
    gap: 20px;
  }

  /* End Share section */

  /* Start accordion section  */

  .accordion {
    max-width: 380px !important;
    padding: 0 10px !important;
  }

  .accordion-section {
    padding: 8px !important;
    gap: 8px;
  }

  .accordion h2 {
    font-size: 20px;
  }

  .accordion .h2 {
    font-size: 13px;
  }

  .accordion .para {
    font-size: 12px;
  }

  /* End accordion section  */
}

@media (max-width: 375px) {
  /* Start header section */

  .header-section {
    max-width: 340px !important;
  }

  .header-section .first-section h2 {
    font-size: 16px;
    padding: 5px 0 !important;
  }

  .header-section .first-section p {
    font-size: 12px;
  }

  .header-section .first-section h3 {
    font-size: 15px;
  }

  .icons-container .icon {
    width: 100%;
  }

  .icons-container .icon img {
    width: 30px;
  }

  .icons-container .icon p {
    font-size: 12px;
    line-height: 14px;
  }

  /* End header section */

  /* Start benefit container section  */

  .benefit_first_container {
    max-width: 340px !important;
    padding: 0 !important;
  }

  .benefit_img_container img {
    height: 180px;
  }

  .benefit_first_container .company_detail .icon-container {
    padding: 0 !important;
  }

  .benefit_first_container .company_detail h2 {
    font-size: 16px;
  }

  .benefit_first_container .company_detail .icon-container h3 {
    font-size: 16px;
    padding: 5px 0 !important;
  }

  .benefit_first_container
    .company_detail
    .icon-container
    .icons-section
    .icons
    .icon
    img {
    width: 30px;
  }

  .benefit_first_container
    .company_detail
    .icon-container
    .icons-section
    .icons
    .icon
    h2 {
    font-size: 14px;
    line-height: 18px;
  }

  .benefit_first_container
    .company_detail
    .icon-container
    .icons-section
    .icons
    p {
    font-size: 12px;
    width: 100%;
  }

  /* End benefit container section  */

  /* Start Share section */

  .share-section {
    max-width: 340px !important;
  }

  .share-section h1 {
    font-size: 18px;
  }

  .share-section .share-container .share-first {
    gap: 20px;
  }

  /* End Share section */

  /* Start accordion section  */

  .accordion {
    max-width: 350px !important;
  }

  .accordion-section {
    padding: 8px !important;
    gap: 8px;
  }

  .accordion h2 {
    font-size: 20px;
  }

  .accordion .h2 {
    font-size: 13px;
  }

  .accordion .para {
    font-size: 12px;
  }

  /* End accordion section  */
}

@media (max-width: 320px) {
  /* Start header section */

  .header-section {
    max-width: 300px !important;
  }

  .header-section .first-section h2 {
    font-size: 15px;
    padding: 5px 0 !important;
  }

  .header-section .first-section p {
    font-size: 10px;
  }

  .header-section .first-section h3 {
    font-size: 14px;
  }

  .icons-container .icon {
    width: 100%;
  }

  .icons-container .icon img {
    width: 30px;
  }

  .icons-container .icon p {
    font-size: 12px;
    line-height: 14px;
  }

  .second-section .form-section .form input,
  .second-section .form-section .form textarea {
    font-size: 12px;
    padding: 10px !important;
  }

  /* End header section */

  /* Start benefit container section  */

  .benefit_first_container {
    max-width: 300px !important;
  }

  .benefit_img_container img {
    height: 160px;
  }

  .benefit_first_container .company_detail h2 {
    font-size: 14px;
    line-height: 18px;
  }

  .benefit_first_container .company_detail .icon-container h3 {
    font-size: 14px;
    padding: 5px 0 !important;
  }

  .benefit_first_container
    .company_detail
    .icon-container
    .icons-section
    .icons
    .icon
    img {
    width: 30px;
  }

  .benefit_first_container
    .company_detail
    .icon-container
    .icons-section
    .icons
    .icon
    h2 {
    font-size: 12px;
    line-height: 16px;
  }

  .benefit_first_container
    .company_detail
    .icon-container
    .icons-section
    .icons
    p {
    font-size: 10px;
    width: 100%;
  }

  /* End benefit container section  */

  /* Start Share section */

  .share-section {
    max-width: 300px !important;
  }

  .share-section h1 {
    font-size: 16px;
  }

  .share-section .share-container .share-first {
    gap: 10px;
  }

  /* End Share section */

  
  /* Start accordion section  */

  .accordion {
    max-width: 300px !important;
  }

  .accordion-section {
    padding: 8px !important;
    gap: 5px;
  }

  .accordion h2 {
    font-size: 18px;
  }

  .accordion .h2 {
    font-size: 12px;
  }

  .accordion .para {
    font-size: 10px;
  }

  /* End accordion section  */
}
