:root {
  --dark-color: #002249;
  --light-color: #0073bd;
}

body {
  overflow-x: hidden;
}
.about-parent {
  width: 100%;
  min-height: 100vh;
  padding-top: 50px;
}

.about-parent .childs {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
}

/* start chiild1 from about-parent */

.child1 {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0px 25px;
  /* background-color: red; */
}

.child1 .btn {
  background-color: var(--dark-color);
  display: flex;
  justify-content: space-evenly;
  width: 250px;
  padding: 15px 10px;
  border-width: 8px;
  border-image: linear-gradient(to top, pink, blue) 1;
  border-style: solid;
}

.child1 .btn h1 {
  color: #ffffff;
  font-weight: 300;
}

.child1 .btn h2 {
  color: #fff;
  font-size: 22px;
  font-weight: 300;
}

.child1 .image img {
  height: 80vh;
  width: 90%;
  object-fit: cover;
  object-position: 90%;
  border-radius: 10px 10px 10px 0px;
}

/* start chiild2 from about-parent */

.child2 {
  height: 100%;
  width: 50%;
  padding: 0px 25px 0px 0px;
}

.child2 .about-first img {
  height: 40px;
  width: 40px;
  object-fit: contain;
}

.child2 .about-first h4 {
  font-size: 15px;
  font-weight: 500;
  color: #0000006e;
  letter-spacing: 1px;
}

.child2 .about-first h1 {
  color: var(--dark-color);
  letter-spacing: 0.5px;
  padding: 20px 0px;
}

.child2 .about-first h3 {
  color: #0000008f;
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
}

.about-second h2 {
  color: var(--dark-color);
  letter-spacing: 0.5px;
  padding: 20px 0px 10px 0px;
}

.about-second ul li {
  color: #0000008f;
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  padding-top: 10px;
}

.about-second .button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  padding: 20px 50px 0px 0px;
}

.button button {
  background-color: var(--dark-color);
  color: white;
  padding: 20px 50px;
  font-size: 18px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.button button:hover {
  background-color: var(--light-color);
}

.button .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 20px;
  border-top: 5px #002249 solid;
  border-radius: 5px;
  box-shadow: 0px 0px 4px rgb(184, 121, 121);
  transition: 0.3s ease-in-out;
  margin-right: 100px;
}

.button .card:hover {
  margin-top: -10px;
}

.card span {
  font-size: 15px;
  color: var(--dark-color);
}

.card i {
  font-size: 30px;
  color: var(--dark-color);
}

/* start chiild3 from about-parent */

.child3 {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 50px;
  position: relative;
  /* background-color: red; */
}

.child3 .plan {
  position: relative;
  width: 350px;
  height: 160px;
  border-radius: 0px 5px 5px 5px;
  box-shadow: 0px 0px 2px #00000094;
  transition: 0.3s;
  display: flex;
  justify-content: end;
  align-items: center;
  cursor: pointer;
}

.voucher {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  border-radius: 5px 0 5px 0;
}

.voucher {
  --f: 0.5em;
  --r: 0em;
  position: absolute;
  height: 100%;
  width: 30%;
  left: 0px;
  top: calc(-1 * var(--f));
  padding: 0.2em;
  background: #0073bd;
  border-right: var(--f) solid #0005;
  border-bottom: var(--r) solid #0000;
  clip-path: polygon(
    calc(100% - var(--f)) 0,
    0 0,
    0 100%,
    calc(50% - var(--f) / 2) calc(100% - var(--r)),
    calc(100% - var(--f)) 100%,
    calc(100% - var(--f)) var(--f),
    100% var(--f)
  );
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.8s;
}

.plan:hover .voucher {
  background: var(--dark-color);
}

.voucher i {
  font-weight: lighter;
  font-size: 50px;
  color: #ffffffa2;
  transition: 0.3s;
}

.plan:hover .voucher i {
  color: white;
}

.plan .content {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: start;
  float: right;
}

.plan .content h3 {
  color: var(--dark-color);
  letter-spacing: 0.3px;
}

.plan .content p {
  color: #0075bda6;
  font-size: 14.5px;
  line-height: 20px;
  padding-top: 8px;
  font-weight: lighter;
}

/* Start offering section */

.offering {
  width: 100%;
  min-height: 60vh;
}

.offering .part-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.part-one img {
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.part-one h4 {
  color: #00000083;
}

.part-one h2 {
  font-size: 35px;
  padding-top: 10px;
  text-align: center;
  width: 50%;
  line-height: 40px;
  color: var(--dark-color);
}

.part-two {
  display: flex;
  flex-direction: row;
  gap: 25px;
  padding: 50px 30px;
  width: 100%;
  height: 100%;
}

.part-card {
  height: 170px;
  width: 250px;
  transform-style: preserve-3d;
  transition: all 1.2s ease;
  display: flex;
  border: 1px solid #ffc0cb52;
  background-color: #ffc0cb52;
  border-radius: 8px;
  cursor: pointer;
}

.part-card:hover {
  transform: rotateY(180deg);
}

.part-card .front {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  padding: 10px;
}

.part-card .front i {
  font-size: 40px;
  color: #0075bd;
}

.part-card .front h3,
.part-card .back h3 {
  font-size: 20px;
  font-weight: 500;
  padding: 5px 0;
  color: var(--dark-color);
}

.part-card .front p,
.part-card .back p {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.3px;
  color: #00000075;
}

.part-card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  padding: 10px;
  border: 1px solid var(--dark-color);
  background-color: var(--dark-color);
  border-radius: 8px;
  transform: rotateY(180deg);
}

.part-card .back i {
  font-size: 40px;
  color: #ffffff;
}

.part-card .back h3 {
  font-size: 18px;
  padding: 5px 0;
  color: white;
}

.part-card .back p {
  font-size: 14px;
  font-weight: 300;
  color: #ffffff75;
  line-height: 17px;
  letter-spacing: 0.3px;
}

.linking {
  background-color: var(--dark-color);
  display: flex;
  width: 70%;
  margin: auto;
  height: 20vh;
  border-radius: 80px;
  padding: 5px;
  position: relative;
}

.linking .photo {
  width: 80%;
  background-image: url(../assets/image/life1.avif);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 80px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.linking .photo h3 {
  padding-left: 80px;
  color: black;
  font-size: 22px;
  letter-spacing: 0.5px;
}

.linking .button {
  position: absolute;
  top: 25%;
  right: 10%;
}

.linking .button button {
  border-radius: 80px;
}

.ranking {
  width: 100%;
  height: 50vh;
  margin: 60px 0px;
  background-image: url(../assets/image/health\ bg.jpg);
  background-repeat: no-repeat;
  /* background-position: 20%; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.rank {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50%;
}

.rank i {
  background-color: white;
  padding: 15px;
  border-radius: 50%;
  font-size: 40px;
  border: 6px #0073bd solid;
  cursor: pointer;
  transition: 0.2s;
  color: #0073bd;
}

.rank i:hover {
  background-color: #0073bd;
  border-radius: 50%;
  border: 6px #0073bd solid;
  color: white;
}

.rank h3 {
  padding-top: 10px;
  font-size: 40px;
  color: white;
}

.rank p {
  font-size: 18px;
  color: white;
}

/* Start benefits section */

.benefits {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  /* background-color: blue; */
}


.benefits .child1 {
  position: relative;
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  object-fit: cover;
  /* background-color: red; */
}


.benefits .child1 .image img {
  width: 90%;
  /* height: 100%; */
  object-fit: cover;
  object-position: 100%;
  border-radius: 20px 20px 20px 0px ;
}

.benefits .child1 .btn1 {
  position: absolute;
  bottom: 20%;
  left: 22%;
  width: 65%;
  border-radius: 0px 0px 20px 0px;
  background-color: var(--light-color);
  padding: 20px 10px;
  display: flex;
}

.benefits .child1 .btn1 i {
  font-size: 60px;
  background-color: white;
  padding: 20px 15px;
  position: absolute;
  top: -18%;
  border-top: 5px solid var(--dark-color);
  color: var(--dark-color);
}

.benefits .child1 .btn1 h2 {
  font-size: 25px;
  color: white;
  margin-left: 120px;
  font-weight: 400;
}

.benefits .child2 {
  height: 100%;
  width: 50%;
  /* padding: 30px 25px 0px 10px; */
}

.benefits .child2 .about-first h2{
  color: var(--dark-color);
  font-size: 30px;
  padding: 10px 0px;
}

.benefits .child2 .about-second h1{
  color: var(--dark-color);
  font-size: 30px;
  padding: 10px 0px;
}

/* End benefits section */

/* Start member swiper slider */

.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 25px;
  /* background-color: red;  */
}

.member .part1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member .part1 img {
  height: 50px;
  width: 50px;
}

.member .part1 h4 {
  color: #0000007c;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 1px;
  padding-top: 10px;
}

.member .part1 h1 {
  color: var(--dark-color);
  padding-top: 10px;
  font-size: 35px;
}

.member .part2 {
  padding-top: 60px;
  width: 100%;
  height: 100%;
  gap: 50px;
  display: flex;
}

.member .part2 .info {
  width: 60%;
  padding: 0px 20px;
}

.member .part2 .info h1 {
  color: var(--dark-color);
  font-size: 35px;
}

.member .part2 .info h3 {
  color: var(--dark-color);
  padding: 10px 0px;
}

.member .part2 .info ul {
  padding-left: 15px;
}
.member .part2 .info ul li {
  color: #000000a6;
  line-height: 25px;
}

.member .part2 .info p {
  padding: 15px 0px;
  color: #000000a6;
  line-height: 20px;
  letter-spacing: 0.3px;
}

.member .part2 .detail {
  width: 40%;
}

.second {
  width: 70%;
  height: 100%;
}

.second .slide {
  display: flex;
  justify-content: space-between;
  border-radius: 18px;
  flex-direction: column;
}

.second .slide img {
  width: 100%;
  height: 80%;
}

.second .slide .detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark-color);
  height: 100%;
  justify-content: center;
  color: white;
  letter-spacing: 1px;
  font-weight: lighter;
}

.second .slide .detail h4 {
  color: #ffffffaf;
  font-size: 15px;
  font-weight: 300;
}

.second .slide .detail h2 {
  font-weight: 300;
}

/* End member swiper slider */

/* Start testimonals section */

.testimonals {
  width: 100%;
  height: 60vh;
  padding: 0 25px;
  display: flex;
  /* gap: 50px; */
  align-items: center;
  /* background-color: red; */
}

.testimonals .part1 {
  width: 50%;
  height: 80%;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testimonals .part1 img {
  height: 50px;
  width: 50px;
}

.testimonals .part1 h4 {
  font-size: 15px;
  font-weight: 300;
  color: #00000073;
  padding: 10px 0;
}

.testimonals .part1 h1 {
  color: var(--dark-color);
  font-size: 38px;
  letter-spacing: 1px;
}

.testimonals .part1 .icon {
  display: flex;
  padding: 20px 0px;
  align-items: center;
}

.testimonals .part1 .icon i {
  background-color: var(--dark-color);
  padding: 20px;
  font-size: 35px;
  color: white;
  transition: 0.3s ease;
  cursor: pointer;
}

.testimonals .part1 .icon i:hover {
  background-color: var(--light-color);
  margin-top: -10px;
}

.testimonals .part1 .icon h3 {
  padding-left: 20px;
  font-weight: 300;
  color: var(--light-color);
}

.testimonals .part1 .icon h3 span {
  color: var(--dark-color);
  font-weight: bold;
}

.testimonals .part2 {
  width: 65%;
  height: 100%;
  display: flex;
  padding: 0 20px;
  align-items: center;
  /* background-color: red; */
}

.testimonals .part2 .paraller {
  width: 100%;
  height: 60%;
}

.paraller .card-section {
  margin-left: 10px;
  padding: 10px 50px 10px 10px;
  background-color: #ffc0cb93;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: 0.8s;
}

.paraller .card-section .star i {
  color: gray;
}

.paraller .card-section .desc p {
  color: #000000ab;
  line-height: 22px;
  font-weight: 300;
  font-size: 15px;
  padding: 10px 0;
}

.paraller .card-section .image {
  width: 100%;
  height: 60px;
  background-color: #ff000025;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding-left: 30px;
}

.paraller .card-section .image img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.paraller .card-section .image h3 {
  color: #0073bd;
  padding-left: 50px;
  font-size: 20px;
  font-weight: 100;
}

.paraller .card-section .image h3 span {
  font-size: 15px;
  padding-left: 20px;
}

.testimonals .part2 .parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 150%;
  height: 100%;
}

/* End testimonals section */

/* Start contact section */

.contact {
  width: 100%;
  height: 98vh;
  /* background-color: black; */
  position: relative;
  background-image: url(../assets/image/car\ bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.contact .svg .contact_detail {
  position: relative;
  height: 98vh;
  width: 74%;
  display: flex;
}

.contact_detail .part1 {
  background-color: #eaeaf3;
  width: 60%;
  height: 100%;
  padding: 50px 0 0 50px;
}

.contact_detail .part1 .info img {
  height: 40px;
  width: 40px;
}

.contact_detail .part1 .info h4 {
  color: #00000065;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 1px;
}

.contact_detail .part1 .info h2 {
  color: var(--dark-color);
  font-size: 40px;
  padding: 10px 0;
}

.contact_detail .part1 .form {
  display: flex;
  width: 100%;
  margin-top: 50px;
}

.form .icons {
  width: 30%;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.form .icons .icon {
  background: linear-gradient(#ffffff94 40%, transparent);
  display: flex;
  width: 100%;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.form .icons .icon:hover {
  background: linear-gradient(var(--dark-color) 40%, var(--dark-color));
}

.form .icons .icon:hover.icon h3 {
  color: white;
}

.form .icons .icon:hover.icon i{
  background-color: white;
  color: var(--dark-color);
}


.form .icons .icon i {
  background-color: var(--dark-color);
  color: white;
  padding: 10px;
  border-radius: 50%;
  font-size: 14px;

}

.form .icons .icon h3 {
  color: var(--light-color);
  font-size: 15px;
  padding-left: 20px;
  font-weight: 300;
  letter-spacing: 0.3px;

}

.form .share {
  width: 90%;
  /* background-color: black; */
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

.form .share .input {
  outline: none;
  border: none;
  padding: 20px;
  border-radius: 5px;
}

.form .share .submit {
  outline: none;
  border: none;
  padding: 15px;
  border-radius: 5px;
  background-color: var(--dark-color);
  width: 40%;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.form .share .submit:hover {
  background-color: var(--light-color);
}

.contact_detail .part2 {
  background-color: #eaeaf3;
  width: 20%;
  height: 100%;
}

.contact_detail .part2 .circle {
  height: 160px;
  width: 160px;
  background-color: var(--dark-color);
  border-radius: 50%;
  position: absolute;
  top: 40%;
  right: 15%;
  animation: rotate 15s linear infinite;
  z-index: 1;
}

.contact_detail .part2 .circle span {
  position: absolute;
  left: 10%;
  top: 50%;
  transform-origin: 50% 0%;
  font-size: 14px;
  color: white;
  padding: 55px 60px;
  /* transform: rotate(20deg); */
}

.contact_detail .part2 i {
  position: absolute;
  top: 49%;
  right: 21%;
  color: white;
  font-size: 40px;
  z-index: 1;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.contact .svg svg {
  position: absolute;
  transform: rotate(90deg);
  top: 39%;
  right: 6%;
  height: 21.8vh;
  width: 60%;
}

/* End contact section */

/* Start Blog section */

.blog-section {
  width: 100%;
  height: 150vh;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 50px;
}

.blog-first {
  width: 100%;
  height: 30%;
  /* background-color: blue; */
  text-align: center;
  padding-top: 40px;
}



.blog-first h4 {
  font-size: 15px;
  color: #00000094;
  font-weight: 300;
  letter-spacing: 1px;
}

.blog-first h2 {
  color: var(--dark-color);
  font-size: 35px;
  letter-spacing: 0.3px;
  padding: 10px 0px;
}

.blog-second {
  width: 100%;
  height: 70%;
  margin-top: -60px;
  margin-bottom: -250px;
}

.blog-second .blogs {
  width: 100%;
  height: 100%;
  /* background-color: blue; */
  position: relative;
}

.blog-second .blogger img {
  width: 90%;
  height: 100%;
  border-radius: 10px;
  object-fit: contain;
  transition: 0.5s;
  cursor: pointer;
}

.blog-second .blogger img:hover {
  transform: scale(1.03);
  border-radius: 10px;
}

.blogs .blogger .blog-detail {
  position: absolute;
  width: 80%;
  height: 30%;
  background-color: #eaeaf3;
  bottom: 35%;
  left: 0;
  border-radius: 0px 10px 10px 10px;
  display: flex;
}

.blogger .blog-detail .date {
  width: 15%;
  height: 100%;
  background-color: gray;
  border-radius: 0px 0px 0px 10px;
  position: relative;
}

.blogger .blog-detail .date span {
  position: absolute;
  transform: rotate(90deg);
  color: white;
  width: 100px;
  left: -60%;
  top: 50%;
}
.blogger .blog-detail .info {
  width: 85%;
  height: 100%;
  /* background-color: white; */
  border-radius: 0px 10px 10px 0px;
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
}

.blog-detail .info .info-one {
  display: flex;
  justify-content: space-around;
  padding: 10px 0px;
  color: gray;
}

.blog-detail .info .info-one .info-icon {
  display: flex;
  width: 100%;
  align-items: center;
}

.blog-detail .info .info-one .info-icon i {
  background-color: gray;
  padding: 5px;
  border-radius: 50%;
  color: white;
  font-size: 14px;
  font-weight: 300;
}
.blog-detail .info .info-one .info-icon p {
  padding-left: 5px;
  font-size: 14px;
  font-weight: 300;
}

.blog-detail .info .info-two h2{
  font-size: 22px;
  color: var(--dark-color);
  padding-top: 10px;
  letter-spacing: 0.5px;
  line-height: 28px;
   transition: 0.3s;
  cursor: pointer;
}


.blog-detail .info .info-two h2:hover{
  color: var(--light-color);
}
.blog-detail .info .info-three{
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0px 0px;
}

.blog-detail .info .info-three h4{
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 0.5px;
  color: gray;
 
}

.blog-detail .info .info-three i{
  color: gray;
  
}

/* End Blog section */


