@font-face {
  font-family: "font";
  src: url(../assets/font/Ubuntu-Medium.ttf);
}

:root {
  --dark-color: #002249;
  --light-color: #0073bd;
}

footer {
  width: 100%;
  height: 80vh;
  background-color: var(--dark-color);
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  gap: 50px;
}

.footer-logo {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo .email {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo .email i {
  font-size: 25px;
  font-weight: 300;
}

.footer-logo .email h3 {
  font-size: 18px;
  font-weight: 300;
}

.footer-logo .logo {
  width: 30%;
  display: flex;
}

.footer-logo .logo img {
  height: 60px;
  width: 60%;
  object-fit: contain;
}

.footer-logo .number {
  width: 30%;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
}

.footer-logo .number i {
  font-size: 25px;
  font-weight: 300;
}

.footer-logo .number h3 {
  padding-left: 10px;
  font-size: 18px;
  font-weight: 300;
}

.footer-quicklink {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  /* background-color: red; */
  justify-content: space-around;
}

.footer-quicklink .explore {
  width: 20%;
  height: 100%;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
  padding-left: 10px;
}

.footer-quicklink .explore h3 {
  color: white;
  font-size: 20px;
  font-weight: 300;
}

.footer-quicklink .explore ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-quicklink .explore ul li {
  list-style-type: none;
}

.footer-quicklink .explore ul li a {
  text-decoration: none;
  color: #ffffff85;
  letter-spacing: 0.4px;
  transition: 0.3s;
}

.footer-quicklink .explore ul li a:hover {
  color: white;
}

.footer-quicklink .insurance {
  width: 20%;
  height: 100%;
  /* background-color: orange; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
}

.footer-quicklink .insurance h3 {
  color: white;
  font-size: 20px;
  font-weight: 300;
}

.footer-quicklink .insurance ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-quicklink .insurance ul li {
  list-style-type: none;
}

.footer-quicklink .insurance ul li a {
  text-decoration: none;
  color: #ffffff85;
  letter-spacing: 0.4px;
  transition: 0.3s;
}

.footer-quicklink .insurance ul li a:hover {
  color: white;
}

.footer-quicklink .address {
  width: 20%;
  height: 100%;
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
  /* padding-left: 50px; */
}

.footer-quicklink .address h3 {
  color: white;
  font-size: 20px;
  font-weight: 300;
}

.footer-quicklink .address h4 {
  color: #ffffff85;
  letter-spacing: 0.4px;
  font-weight: 300;
}

.footer-quicklink .address .social {
  /* background-color: red; */
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.footer-quicklink .address .social a{
  text-decoration: none;
}

.footer-quicklink .address .social i {
  color: white;
  font-size: 18px;
  background-color: #0075bd63;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.footer-quicklink .address .social i:hover {
  color: var(--dark-color);
  background-color: white;
}

.footer-quicklink .newsletter {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  /* background-color: yellow; */
  align-items: start;
}

.footer-quicklink .newsletter h3 {
  color: white;
  font-size: 20px;
  font-weight: 300;
}

.footer-quicklink .newsletter h4 {
  color: #ffffff62;
  letter-spacing: 0.4px;
  font-weight: 300;
  padding: 25px 0px;
}

.footer-quicklink .newsletter .email {
  display: flex;
  justify-content: start;
  width: 100%;
  align-items: center;
}

.footer-quicklink .newsletter .email input {
  width: 100%;
  border: none;
  outline: none;
  padding: 20px;
  border-radius: 5px 0px 0px 5px;
  margin-left: -28px;  
}

.footer-quicklink .newsletter .email i {
  background-color: gray;
  padding: 16.6px;
  font-size: 20px;
  border-radius: 0px 5px 5px 0px;
}
.footer-copyright {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: green; */
  border-top: 1px #ffffff15 solid;
}

.footer-copyright i {
  color: white;
}

.footer-copyright h3 {
  color: white;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.8px;
}
