@font-face {
  font-family: "font";
  src: url(../assets/font/Ubuntu-Medium.ttf);
}

:root {
  --dark-color: #002249;
  --light-color: #0073bd;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "font";
}

html,
body {
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  height: 100px;
  /* background-color: red;    */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 25px;
}

.header .logo{
    width: 20%;
}

.header .logo img {
  height: 180px;
  width: 180px;
  object-fit: contain;
}

.menu {
  display: flex;
  width: 60%;
  justify-content: start;
  align-items: start;
}

.menu ul {
  /* background-color: red; */
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}

.menu li {
  list-style-type: none;
}
.menu li a {
  text-decoration: none;
  list-style-type: none;
  color: #0000006c;
  font-size: 18px;
  transition: 0.3s;
}

.menu li a:hover {
  color: var(--dark-color);
}

.header .icon{
    /* background-color: red; */
    width: 8%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header .line{
    height: 40%;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.288);
}

.icon i{
    font-size: 20px;
    color: #000000af;
    transition: 0.3s;
    cursor: pointer;
}

.icon i:hover{
    color: #000000;
}
